.account {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--primary) / 2%);
}

.account-inner-bg,
.account-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(var(--primary) / 2%); */
    z-index: -1;
    overflow: hidden;
}

.account-bg-top,
.account-bg-bottom {
    --size: 1000px;
    width: var(--size);
    height: var(--size);
}

.account-inner-bg span,
.account-bg-bottom span,
.account-bg-top span {
    background-color: rgb(var(--primary));
    display: block;
    border-radius: 50%;
    position: absolute;
    --size: 550px;
    width: var(--size);
    height: var(--size);
    z-index: 1;
}

.account-bg-top span {
    top: 0;
    left: 0;
    translate: -40% -40%;
}

.account-inner-bg span:nth-child(1),
.account-bg-bottom span:nth-child(1),
.account-bg-top span:nth-child(1) {
    --size-child: calc(var(--size) / 1.23);
    opacity: 0.25;
    z-index: 3;
    width: calc(var(--size-child) + 15px);
    height: calc(var(--size-child) + 15px);
}

.account-inner-bg span:nth-child(2),
.account-bg-bottom span:nth-child(2),
.account-bg-top span:nth-child(2) {
    --size-child: calc(var(--size) / 1.1);
    opacity: 0.2;
    z-index: 0;
    width: calc(var(--size-child) + 75px);
    height: calc(var(--size-child) + 75px);
}

.account-inner-bg span:nth-child(3),
.account-bg-bottom span:nth-child(3),
.account-bg-top span:nth-child(3) {
    --size-child: calc(var(--size) / 1);
    opacity: 0.25;
    z-index: 0;
    width: calc(var(--size-child) + 125px);
    height: calc(var(--size-child) + 125px);
}

.account-bg-bottom span {
    bottom: 0;
    top: unset;
    right: 0;
    left: auto;
    translate: 40% 40%;
}

.account-inner {
    background-color: #ffffff;
    position: relative;
    z-index: 0;
    box-shadow: 2px 2px 7px #00000047;
    max-width: 800px;
    width: 85%;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
}

.account-inner-bg {
    left: auto !important;
    right: 0;
}

.account-inner-bg span {
    right: 0 !important;
    translate: 50% -50%;
    top: 50%;
}

.account-inner-bg span:nth-child(1) {
    width: calc(var(--size-child) + 15px);
}

.account-inner-bg span:nth-child(2) {
    width: calc(var(--size-child) + 75px);
}

.account-inner-bg span:nth-child(3) {
    width: calc(var(--size-child) + 125px);
}

.account-inner-icon {
    order: 1;
}

.account-inner-icon img {
    width: 200px;
    margin-left: auto;
    margin-right: 80px;
    display: flex;
    z-index: 4;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h3.account-title {
    font-size: 20px;
}

.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-select~label::after {
    background: transparent;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
    --height: 48px;
    line-height: 1;
    height: var(--height);
    min-height: var(--height);
    padding-bottom: 17px !important;
}

.form-floating>label {
    padding: 0 .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}