<ng-template #icon class="align-items-center">
    <span class="title-icon ">
        <fa-icon [icon]="faUserTie"></fa-icon>
    </span>
</ng-template>
<ng-template #template>
    <form #form="ngForm" (ngSubmit)="send(form)" class="needs-validation">
        <div class="px-2">
            <div class="row">
                <!-- Nome -->
                <div class="form-group col-xl-8 col-lg-8 col-md-8 col-sm-6 col-12"> 
                    <label for="nome">Nome: <span class="text-danger">*</span></label>
                    <input type="text"
                           class="form-control"
                           name="nome"
                           id="nome"
                           #nome="ngModel"
                           [(ngModel)]="objeto.nome"
                           pattern="\S(.*\S)?"
                           (change)="objeto.nome = nome.value.trim().toUpperCase();"
                           required>
                    <div *ngIf="nome.touched && nome.errors">
                        <p class="text-danger" *ngIf="nome.errors['required']">Este campo é obrigatório.</p>
                    </div>
                </div>
                <!-- Código -->
                <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <label for="codigo">Código: <span class="text-danger">*</span></label>
                    <input type="text"
                           class="form-control"
                           name="codigo"
                           id="codigo"
                           #codigo="ngModel"
                           [(ngModel)]="objeto.codigo"
                           pattern="\S(.*\S)?"
                           (change)="objeto.codigo = codigo.value.trim().toUpperCase();"
                           required>
                    <div *ngIf="codigo.touched && codigo.errors">
                        <p class="text-danger" *ngIf="codigo.errors['required']">Este campo é obrigatório.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-3 mb-2 d-flex align-items-center">
                    <div *ngIf="erro || form.invalid" class="m-0">
                        <p class="text-danger" *ngIf="erro">{{erro}}</p>
                        <p *ngIf="form.invalid && !erro"    class="text-danger">Preencha todos os campos obrigatórios (*) corretamente para salvar.</p>
                    </div>
                    <button class="btn btn-primary me-0 ms-auto" [disabled]="form.invalid || loading">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        <span>Salvar</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</ng-template>