<div > 
    <!--  (paste)="paste($event)" -->
    <ng-template #icon>
        <img src="assets/img/icon-excel.png">
    </ng-template>
    <ng-template #template>
        <form #form="ngForm" (ngSubmit)="send()" class="needs-validation" enctype="multipart/form-data" >
            <label for="file" class="input-file-container" *ngIf="!loading">
                <p class="icon">
                    <i class="pi pi-upload"></i>
                </p>
                <h3>Clique e arraste para selecionar arquivo</h3>
                <p>ou <label for="file" class="link">clique aqui</label> para abrir explorador de arquivos</p>
                <!-- <p><small>Você também pode copiar e colar as linhas aqui para importar os dados</small></p> -->
                <input type="file"
                       name="file"
                       id="file"
                       #file="ngModel"
                       [(ngModel)]="fileUpload"
                       required
                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            </label>

            <div class="d-flex align-items-start flex-wrap p-0 mt-1">
                <div class="me-3">
                    <p class="text-info">
                        <a href="assets/modelos/modelo-importacao-operacao.xlsx" download="modelo-importacao-pessoa.xlsx">Clique aqui para saber como deve ser o arquivo XLSX</a>
                    </p>
                    <div *ngIf="erro || form.invalid " class="m-0">
                        <p class="text-danger" *ngIf="erro">{{erro}}</p>
                        <p *ngIf="!file" class="text-danger">Selecione um arquivo para enviar.</p>
                    </div>
                </div>

                <button class="btn btn-primary mr-0 ml-auto" [disabled]="form.invalid || loading">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    <span>Salvar</span>
                </button>
            </div>
        </form>
    </ng-template>
</div>