<section class="account">
   <div class="account-inner">
    <div class="account-background  d-lg-block d-md-none d-sm-none d-none">
        <img src="assets/img/wave-dark.png" class="wave">
        <!-- <img src="assets/img/logo-icon-colorful.png" class="icon"> -->
        <!-- <img src="assets/img/pair-programing.svg" class="icon"> -->
        <img src="assets/img/lock.svg" class="icon">
    </div>
    <div class="account-form">
        <p class="account-icon">
            <img src="assets/img/avatar.svg">
        </p>
        <h3 class="account-title">Bem-vindo!</h3>
        <p class="text-center">Para acessar, insira seu email e senha cadastrados.</p>
        <form #form="ngForm" (ngSubmit)="logar()">
            <div class="form-row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                    <div class="form-floating">
                        <input type="email"
                            email
                            class="form-control"
                            id="email"
                            name="email"
                            #email="ngModel"
                            [(ngModel)]="login.email"
                            placeholder="example@gmail.com"
                            required
                            [pattern]="emailPattern">
                        <label for="email">
                            <span>E-mail <span class="text-danger">*</span></span>
                        </label>
                    </div>
                    <div *ngIf="email.errors != null && email.touched" class="p-1 py-0">
                        <p class="text-danger" *ngIf="email.errors['required']">Este campo é obrigatório.</p>
                        <p class="text-danger" *ngIf="email.errors['email']">E-mail inválido</p>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                    <div class="form-floating">
                        <input [type]="showHide.value ? 'password' : 'text'"
                            class="form-control"
                            id="password"
                            name="password"
                            #password="ngModel"
                            [(ngModel)]="login.password"
                            placeholder="******"
                            required
                            minlength="6">
                        <label for="password">
                            <span>Senha <span class="text-danger">*</span></span>
                        </label>
                    </div>
                    <div *ngIf="password.errors != null && password.touched" class="p-1 py-0">
                        <p class="text-danger" *ngIf="password.errors['required']">Este campo é obrigatório.</p>
                        <p class="text-danger" *ngIf="password.errors['minlength']">Senha deve conter pelo menos {{password.errors['minlength']['requiredLength']}} caracteres.</p>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="d-flex align-items-center">
                        <input type="checkbox" name="showHide" id="showHide" #showHide="ngModel" ngModel
                            [value]="true">
                        <label for="showHide" class="ml-2">
                            <span *ngIf="showHide.value">Exibir</span>
                            <span *ngIf="!showHide.value">Esconder</span> senha </label>
                    </div>
                </div>
            </div>
            <div class="text-center text-wrap-balance col-12" style="width: 104%;margin-left: -2%;">
                <p class="text-danger mb-2" *ngIf="err">{{err}}</p>
                <p class="mt-1 mb-3">
                    Ao logar você concorda com os <a class="link" routerLink="./termos-de-uso" >termos de uso</a>.
                </p>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                    <button type="submit" class="btn btn-primary w-100 py-2" [disabled]="form.invalid || loading">Login</button>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="text-center">
                    <a class="link" [routerLink]="['..', 'forgot-password']">Esqueci minha senha</a>
                </div>
            </div>
        </form>
    </div>
   </div>
</section>


