<div > 
    <!--  (paste)="paste($event)" -->
    <ng-template #icon>
        <img src="assets/img/icon-excel.png">
    </ng-template>
    <ng-template #template>
        <form #form="ngForm" (ngSubmit)="send()" class="needs-validation" enctype="multipart/form-data" >
            <div>
                <label for="file" class="input-file-container">
                    <p class="icon">
                        <i class="pi pi-upload"></i>
                    </p>
                    <h3>Clique e arraste para selecionar arquivo</h3>
                    <p>ou <label for="file" class="link">clique aqui</label> para abrir explorador de arquivos</p>
                    <!-- <p><small>Você também pode copiar e colar as linhas aqui para importar os dados</small></p> -->
                    <p *ngIf="fileUpload"><strong>Nome do arquivo:</strong> {{fileUpload.name}}</p>
                    <input type="file"
                           name="file"
                           id="file"
                           #file
                           required
                           (input)="fileChange($event)"
                           accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                </label>
                <p class="text-info">
                    <a href="assets/modelos/modelo-importacao-pessoa.xlsx" download="modelo-importacao-pessoa.xlsx">Clique aqui para saber como deve ser o arquivo XLSX</a>
                </p>
            </div>
            <div class="d-flex align-items-start flex-wrap p-0 mt-2 mb-1">
                <div class="me-3">
                    <div *ngIf="mensagem && !erro" [innerHTML]="mensagem"></div>
                    <p class="text-danger" *ngIf="erro" [innerHTML]="erro"></p>
                    <p *ngIf="!erro  && !fileUpload || (form.invalid && form.errors && form.errors['fileRequired'])" class="text-danger">Selecione um arquivo para enviar.</p>
                </div>

                <button class="btn btn-primary me-0 ms-auto" [disabled]="form.invalid || loading">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    <span>Salvar</span>
                </button>
            </div>
        </form>
    </ng-template>
</div>