<div class="modal active d-flex align-items-center justify-content-center flex-column" >
    <div class="modal__bg"></div>
    <div class="content d-flex align-items-center justify-content-center flex-column">

        <img class="logo" src="assets/img/logo-planner.png" alt="Planner">
        <h4 class="text-white">VERIFICAÇÃO DE CONTA</h4>
        <div *ngIf="loading">
            <br>
            <p class="text-white">Verificando...</p>
            <span class="spinner-border my-2 mb-4"></span>
        </div>
        <div  *ngIf="!loading && erro">
            <br>
            <h5 class="text-white">Erro</h5>
            <p class="text-white" *ngIf="!loading && erro">{{erro}}</p>
        </div>
        <p class="text-white mt-2" *ngIf="!loading && !mensagemSucesso && !erro">Verificação já concluída, acesse o login.</p>
        <p class="text-white mt-2" *ngIf="!loading && mensagemSucesso">{{mensagemSucesso}}</p>
        <a class="link text-white mt-4" routerLink="/account/login" >
            <span class="me-2"><fa-icon [icon]="faChevronCircleLeft"></fa-icon></span>
            Ir para login
        </a>
    </div>
</div>