<form #form="ngForm" (ngSubmit)="send(form)" class="needs-validation">
    <div class="px-2">
        <div class="row">
            <div class="form-group col-md-12 col-sm-12">
                <label for="nome">Nome: <span class="text-danger">*</span></label>
                <input type="text"
                       class="form-control"
                       name="nome"
                       id="nome"
                       #nome="ngModel"
                       [(ngModel)]="objeto.nome"
                       pattern="\S(.*\S)?"
                       (change)="objeto.nome = nome.value.trim();"
                       required>
                <div *ngIf="nome.touched && nome.errors">
                    <p class="text-danger" *ngIf="nome.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3 col-sm-3">
                <label for="cep">CEP:</label>
                <input type="text"
                       class="form-control"
                       placeholder="00000-000"
                       mask="00000-000"
                       name="cep"
                       id="cep"
                       (blur)="buscaCEP(cep)"
                       [(ngModel)]="objeto.cep"
                       #cep="ngModel"
                       required />
                <div *ngIf="cep.touched && cep.errors">
                    <p class="text-danger" *ngIf="cep.errors['required']">Este campo é obrigatório.</p>
                    <p class="text-danger" *ngIf="cep.errors['mask']">CEP inválido.</p>
                    <p class="text-danger" *ngIf="cep.errors['invalid']">CEP inválido.</p>
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="logradouro">Logradouro: <span class="text-danger">*</span></label>
                <input type="text"
                       class="form-control"
                       name="logradouro"
                       id="logradouro"
                       #logradouro="ngModel"
                       [(ngModel)]="objeto.logradouro"
                       required
                       [disabled]="cepPreenchido"
                       pattern="\S(.*\S)?"
                       (change)="objeto.logradouro = logradouro.value.trim();">
                <div *ngIf="logradouro.touched && logradouro.errors">
                    <p class="text-danger" *ngIf="logradouro.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>
            <div class="form-group col-md-3 col-sm-12">
                <label for="cNumero">N°: <span class="text-danger">*</span></label>
                <input type="text"
                       class="form-control"
                       name="cNumero"
                       id="cNumero"
                       #cNumero="ngModel"
                       [(ngModel)]="objeto.numero"
                       required
                       pattern="\S(.*\S)?"
                       (change)="objeto.numero = cNumero.value.trim();">
                <div *ngIf="cNumero.touched && cNumero.errors">
                    <p class="text-danger" *ngIf="cNumero.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="cidade_Id">Cidade: <span class="text-danger">*</span></label>
                <p-dropdown
                            [options]="cidades"
                            #cidade_Id="ngModel"
                            [(ngModel)]="objeto.cidade_Id"
                            [styleClass]="'form-control' + (loadingCidades ? 'form-control-loading' : '')"
                            optionLabel="nomeCidade"
                            optionValue="id"
                            [placeholder]="'Selecione'"
                            [disabled]="loadingCidades"
                            name="cidade_Id"
                            inputId="cidade_Id"
                            [virtualScroll]="true"
                            [virtualScrollItemSize]="10"
                            [required]="true"
                            [filter]="true"
                            filterBy="nomeCidade"
                            [showClear]="true">
                </p-dropdown>
                <div *ngIf="cidade_Id.touched && cidade_Id.errors">
                    <p class="text-danger" *ngIf="cidade_Id.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div *ngIf="erro || form.invalid" class="m-0">
                <p class="text-danger" *ngIf="erro">{{erro}}</p>
                <p *ngIf="form.invalid && !erro" class="text-danger">Preencha todos os campos obrigatórios (*) corretamente para salvar.</p>
            </div>
            <button class="btn btn-primary mr-0 ml-auto" [disabled]="form.invalid || loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <span>Salvar</span>
            </button>
        </div>
    </div>
</form>