<section class="login">
    <div class="login__form">
        <div class="login__form-img">
            <h3 class="login-title mb-1">Esqueci minha senha</h3>
            <p>Enviaremos um link de confirmação para o e-mail informado abaixo</p>
        </div>
        <div class="login__form-form">
            <div class="login__form-inner">
                <!-- <br> -->
                <a class="link d-flex align-items-baseline mb-2" [routerLink]="['..', 'login']">
                    <fa-icon [icon]="faChevron" class="me-2"></fa-icon> voltar
                </a>
                <form (submit)="send()">
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                            <div class="form-floating">
                                <input type="email"
                                       email
                                       class="form-control"
                                       id="email"
                                       name="email"
                                       #email="ngModel"
                                       [(ngModel)]="object.email"
                                       placeholder="example@gmail.com"
                                       required
                                       [pattern]="emailPattern">
                                <label for="email">
                                    <span>E-mail <span class="text-danger">*</span></span>
                                </label>
                            </div>
                            <div *ngIf="email.errors != null && email.touched" class="pl-2 pt-2 pb-0">
                                <p class="text-danger" *ngIf="email.errors['required']">Este campo é obrigatório.</p>
                                <p class="text-danger" *ngIf="email.errors['email']">E-mail inválido</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" *ngIf="erro">
                        <p class="text-danger">{{erro}}</p>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                            <button type="submit" class="btn btn-primary w-100 py-2">Recuperar senha</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

