<div class="px-0 mb-3">
    <h3 class="account-title mb-0">Alterar senha</h3>
    <p class="account-text mb-0 ">Preencha os campos abaixo para alterar senha.</p>
    <a class="link d-flex" [routerLink]="['..', 'login']">
        <fa-icon [icon]="faChevronCircleLeft" class="me-2"></fa-icon>
        <span style="margin-top: -3px;">voltar</span>
    </a>
</div>
<form #form="ngForm" (ngSubmit)="send()">
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-floating">
                <input [type]="showHide.value ? 'password' : 'text'"
                       class="form-control"
                       id="password"
                       name="password"
                       #password="ngModel"
                       [(ngModel)]="objeto.password"
                       placeholder="******"
                       required
                       minlength="6">
                <label for="password">
                    <span class="form-control-icon">
                        <fa-icon [icon]="faLock" *ngIf="!showHide.value"></fa-icon>
                        <fa-icon [icon]="faUnlock" *ngIf="showHide.value"></fa-icon>
                    </span>
                    <span class="ms-3">Senha <span class="text-danger">*</span></span>
                </label>
            </div>
            <div *ngIf="password.errors != null && password.touched" class="pl-2 pt-2 pb-0">
                <p class="text-danger" *ngIf="password.errors['required']">Este campo é obrigatório.</p>
                <p class="text-danger" *ngIf="password.errors['minlength']">Senha deve conter pelo menos {{password.errors['requiredLength']}} caracteres.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
            <div class="form-floating">
                <input [type]="showHide.value ? 'password' : 'text'"
                       class="form-control"
                       id="confirmPassword"
                       name="confirmPassword"
                       #confirmPassword="ngModel"
                       [(ngModel)]="objeto.confirmPassword"
                       placeholder="******"
                       required
                       minlength="6">
                <label for="confirmPassword">
                    <span class="form-control-icon">
                        <fa-icon [icon]="faLock" *ngIf="!showHide.value"></fa-icon>
                        <fa-icon [icon]="faUnlock" *ngIf="showHide.value"></fa-icon>
                    </span>
                    <span class="ms-3">Confirmar Senha <span class="text-danger">*</span></span>
                </label>
            </div>
            <div *ngIf="confirmPassword.errors != null && confirmPassword.touched" class="pl-2 pt-2 pb-0">
                <p class="text-danger" *ngIf="confirmPassword.errors['required']">Esse campo é obrigatório</p>
                <p class="text-danger" *ngIf="confirmPassword.errors['minlength']">Confirmação de senha deve conter pelo menos {{confirmPassword.errors['requiredLength']}} caracteres.</p>
            </div>
            <p class="text-danger p-2" *ngIf="password.value != confirmPassword.value">Senhas não são iguais</p>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
            <div class="d-flex align-items-center">
                <input type="checkbox"
                       name="showHide"
                       id="showHide"
                       #showHide="ngModel"
                       ngModel
                       [value]="true">
                <label for="showHide" class="ml-2">
                    <span *ngIf="showHide.value">Exibir</span>
                    <span *ngIf="!showHide.value">Esconder</span> senha </label>
            </div>
        </div>
    </div>
    <div class="row px-2 mb-2" *ngIf="erro">
        <p class="text-danger">{{erro}}</p>
    </div>
    <div class="row">
        <div class="form-group form-floating col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
            <button type="submit" class="btn btn-primary w-100 py-2" [disabled]="form.invalid || loading || password.value != confirmPassword.value">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span> 
                <span>Salvar</span>
            </button>
        </div>
    </div>
</form>

