.input-file-container {
    width: 99%;
    margin: 10px 0 10px;
    display: flex;
    flex-flow: column;
    padding: 25px 20px;
    border: 3px dashed var(--neutral);
    text-align: center;
    border-radius: 27px;
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.input-file-container .icon {
    font-size: 60px;
    color: var(--primary);
    margin-bottom: 15px;
}

.input-file-container h3 {
    font-size: 17px;
    margin-bottom: 5px;
}

.input-file-container:hover,
.input-file-container:active {
    background-color: #0000000d;
}

.input-file-container input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}

.content .table thead th {
    vertical-align: bottom;
}

.input-file-image {
    max-height: 300px;
}

.input-color-picker {
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    border: none;
    border-radius: 50%;
    font-size: 0px;
    cursor: pointer;
}

.input-color-picker:focus {
    box-shadow: 0px 0px 0px 2px #3d3a3a54;
}






.input-file-container-inline {
    margin-bottom: 0;
    min-width: 170px;
    width: auto;
}

.input-file-container-inline input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
}
.input-file-container-inline~label,
.input-file-container-inline label {
    width: unset;
}

.input-file-image-inline {
    width: auto;
    max-width: 100%;
    max-height: 60px;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

