<section class="page">
    <div class="page__header">
        <span class="title-icon">
            <fa-icon [icon]="faCreditCard"></fa-icon>
        </span>
        <div class="me-auto">
            <h3 class="page__header-title">Pessoas</h3>
            <p>Painel CPF</p>
            <p class="page__header-subtitle" *ngIf="empresaSelected">
                <small>Pessoas cadastradas em 
                    <strong>{{empresaSelected.nome || "Empresa X"}}</strong>
                </small>
            </p>
        </div>
        <div class="ms-auto mt-auto" style="margin-bottom: 7px;">
            <button class="btn btn-dark" (click)="getList()" [disabled]="loading"><span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>Atualizar</button>
        </div>
        <app-empresa-selected></app-empresa-selected> 
    </div>
    <div class="page__body">
            <ng-template #topActions>
                <div class="mx-md-1 mb-2 px-0 " *ngIf="selectedItems.length > 1">
                    <button (click)="excluirLista($event)" 
                    [disabled]="loading"
                    class="btn btn-danger me-md-0 me-sm-1" 
                    style="line-height: 1;height: 31.5px;font-size: 13px;">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                    <p-confirmDialog></p-confirmDialog>
                </div>
                <div class="col-xl-3 col-lg-5 col-md-6 col-sm-6 col-12 mx-md-1 mb-2 px-0 ng-star-inserted">
                    <a class="btn btn-dark d-flex align-items-center align-baseline justify-content-center me-md-0 me-sm-1" [routerLink]="['importar']">
                        <!-- <img src="assets/img/icon-excel-white.png" alt="excel.png" class="me-2"> -->
                        <span style="margin-top: -1px; margin-bottom: 1px; font-size: 13px;"> Importar Excel</span>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-5 col-md-5 col-sm-6 col-12 mb-2 me-md-2 mx-md-1 px-0 ng-star-inserted">
                    <a class="btn btn-primary d-flex align-items-center align-baseline justify-content-center me-md-0 me-sm-1" [routerLink]="['cadastrar']">
                        <span style="margin-top: -1px; margin-bottom: 1px; font-size: 13px;"> Cadastrar Pessoa</span>
                    </a>
                </div>
            </ng-template>
            <app-list-shared
                             [topActions]="topActions"
                             [list]="list"
                             [filterLink]="false"
                             [filterTable]="true"
                             [paginator]="true"
                             [sortTable]="true"
                             [menuTable]="true"
                             [columns]="columns"
                             [tableLinks]="tableLinks"
                             [selectable]="true"
                             [selectionMode]="'multiple'"></app-list-shared>
    </div>
</section>
<router-outlet></router-outlet>