<header class="header" [class.header-mobile]="isMobile" [class.header-home]="homeActive">
    <div class="header-logo">
        <img src="assets/img/logotext-white.png" alt="Logo ZenTech">
    </div>
    <div class="header__userLogado">
        <div class="header__userLogado-content" [class.header__userLogado-submenu--open]="menuMinhaContaOpen"
             (click)="toggleMenuMinhaConta()">
            <div class="header__userLogado-img">
                <fa-icon [icon]="faUser"></fa-icon>
            </div>
            <div class="header__userLogado-text" *ngIf="!userLogado">
                <p>teste@gmail.com</p>
                <p>Teste</p>
            </div>
            <div class="header__userLogado-text" *ngIf="userLogado">
                <p>{{userLogado.email}}</p>
                <p>{{perfil}}</p>
            </div>
        </div>
    </div>
    <!-- <nav class="header-navigation" [class.header-navigation-mobile]="isMobile" [class.mobile-open]="menuMobileOpen">
        <a class="header-navigation-link" routerLink="/" [class.router-active]="homeActive">Home</a>
        <a class="header-navigation-link" [routerLink]="['painel-cpf']" routerLinkActive="router-active">New Clickk Buyers</a>
        <a class="header-navigation-link" [routerLink]="['operacoes']" routerLinkActive="router-active">Pró Câmbio</a>
        <a class="header-navigation-link" [routerLink]="['invoice']" routerLinkActive="router-active">Invoice</a>
        <a class="header-navigation-link" [routerLink]="['instituicao-financeira']" routerLinkActive="router-active">Instituições Financeiras</a>
        <a class="header-navigation-link" [routerLink]="['banco']" routerLinkActive="router-active">Bancos</a>
        <a class="header-navigation-link" [routerLink]="['beneficiario']" routerLinkActive="router-active">Beneficiários</a>
        <a class="header-navigation-link" [routerLink]="['contrato']" routerLinkActive="router-active">Contratos</a>
        <a class="header-navigation-link" [routerLink]="['documento-swift']" routerLinkActive="router-active">Documento Swift</a>
        <a class="header-navigation-link" [routerLink]="['usuarios']" routerLinkActive="router-active">Gerenciar usuários</a>
    </nav> -->
</header>
<div class="header__userLogado-submenu" [class.header__userLogado-submenu--open]="menuMinhaContaOpen">
    <p class="header__userLogado-submenu-link">Bem-vindo</p>
    <a class="header__userLogado-submenu-link" (click)="minhaConta()">
        <span style="margin-right: 8px;">
            <fa-icon [icon]="faIdCard"></fa-icon>
        </span> Meus dados </a>
    <a class="header__userLogado-submenu-link" (click)="sair()">
        <span style="margin-right: 8px;">
            <fa-icon [icon]="faSignOut"></fa-icon>
        </span> Sair </a>
</div>
