<ng-template #icon class="align-items-center">
    <span class="title-icon" style="translate: 0px 6px;">
        <fa-icon [icon]="faClock"></fa-icon>
    </span>
</ng-template>
<ng-template #template>
    <h6 class="mb-2 mt-2 ms-2">{{obj.acao}} de {{obj.entidade}}</h6>
    <div class="table-responsive">
        <table class="table table-striped mt-2">
            <tbody>
                <tr>
                    <td><strong>Data:</strong> {{obj.data | date : 'dd/MM/yyyy \'às\' HH:mm' }}</td>
                    <td><strong>Ação:</strong> {{obj.acao }}</td>
                    <td><strong>Objeto da Ação:</strong> {{obj.entidade }}</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Usuário:</strong> {{obj.usuarioNome}} - {{obj.usuarioEmail}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped mb-3">
            <tbody class="padding-tr">
                <tr *ngFor="let item of values">
                    <td style="white-space: nowrap;"><strong>{{item[0]}}</strong></td>
                    <td colspan="2" [innerHTML]="item[1]"></td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>