
<ng-template #icon>
    <fa-icon [icon]="faUser"></fa-icon>
</ng-template>
<ng-template #template>
    <form #form="ngForm" (ngSubmit)="send(form)" class="px-2">
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                <label for="nome">Nome Completo: <span class="text-danger">*</span> <small *ngIf="!liberaNome">(automático)</small> <small *ngIf="liberaNome">(manual)</small>  </label>
                <input type="text"
                        class="form-control"
                        name="nome"
                        id="nome"
                        #nome="ngModel"
                        [(ngModel)]="objeto.nome"
                        required
                        pattern="\S(.*\S)?"
                        (change)="objeto.nome = nome.value.trim(); "
                        [disabled]="!liberaNome">
                        {{liberaNome}}
                <div *ngIf="nome.touched && nome.errors">
                    <p class="text-danger" *ngIf="nome.errors['required']">Este campo é obrigatório.</p>
                    <p class="text-danger" *ngIf="nome.errors['pattern']">
                        <span *ngIf="nome.errors['pattern']['requiredPattern'] == '^\\S(.*\\S)?$'">Remova os espaços antes e depois do texto.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-5 col-md-5 col-sm-6 col-12">
                <label for="cpf">CPF: <span class="text-danger">*</span></label>
                <input type="text"
                        class="form-control"
                        [class.form-control-loading]="loadingPessoa"
                        name="cpf"
                        id="cpf"
                        #cpf="ngModel"
                        [(ngModel)]="objeto.cpf"
                        mask="000.000.000-00"
                        placeholder="000.000.000-00"
                        required
                        pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}"
                        (change)="validaCPF(cpf, cpf.value);"
                        [readonly]="loadingPessoa">
                <div *ngIf="cpf.touched && cpf.errors" >
                    <p class="text-danger" *ngIf="cpf.errors['required']">Este campo é obrigatório.</p>
                    <p class="text-danger" *ngIf="cpf.errors['mask'] || cpf.errors['invalid']">CPF inválido.</p>
                    <p class="text-danger" *ngIf="cpf.errors['jaCadastrado']">CPF já cadastrado</p>
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
                <label for="dataNascimento">Data de Nascimento: <span class="text-danger">*</span></label>
                <input type="date"
                        class="form-control"
                        name="dataNascimento"
                        id="dataNascimento"
                        #dataNascimento="ngModel"
                        [(ngModel)]="objeto.dataNascimento"
                        [readonly]="cpf.errors || loadingPessoa"
                        required>
                <div *ngIf="dataNascimento.touched && dataNascimento.errors; else erroCPF" >
                    <p class="text-danger" *ngIf="dataNascimento.errors['required']">Este campo é obrigatório.</p>
                    <p class="text-danger" *ngIf="dataNascimento.errors['date']">Data inválida.</p>
                </div>
                <ng-template #erroCPF>
                    <p class="text-danger" *ngIf="cpf.touched && (cpf.invalid || cpf.errors)">Preencha CPF corretamente.</p>
                </ng-template>
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-12 col-12">
                <button type="button"
                        class="btn btn-dark w-100" 
                        [class.mt-4]="screen == 'lg' || screen == 'xl' || screen == 'md'"  
                        [class.mt-2]="screen == 'sm'" style="height: 35px;" 
                        (click)="procuraPessoa(cpf, dataNascimento)"
                        [disabled]="cpf.errors || !dataNascimento.value">
                        <span *ngIf="loadingPessoa" class="spinner-border spinner-border-sm mr-1"></span> 
                        <span>Consultar API</span>
                </button>
            </div>
        </div>
        <div class="row" *ngIf="loadingPessoa">
            <p>Consultando BR API</p>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                <label for="nomeMae">Nome da Mãe:</label>
                <input type="text"
                        class="form-control"
                        name="nomeMae"
                        id="nomeMae"
                        #nomeMae="ngModel"
                        [(ngModel)]="objeto.nomeMae"
                        pattern="\S(.*\S)?"
                        (change)="objeto.nomeMae = nomeMae.value.trim(); ">
                <div *ngIf="nomeMae.touched && nomeMae.errors">
                    <p class="text-danger" *ngIf="nomeMae.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                <label for="email">E-mail: </label>
                <input type="email"
                        [email]="true"
                        class="form-control"
                        name="email"
                        id="email"
                        #email="ngModel"
                        [(ngModel)]="objeto.email"
                        [pattern]="emailPattern">
                <div *ngIf="email.touched && email.errors">
                    <p class="text-danger" *ngIf="email.errors['required']">Este campo é obrigatório.</p>
                    <p class="text-danger" *ngIf="email.errors['email']">E-mail inválido.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                <label for="email">Observações: </label>
                <textarea class="form-control"
                        name="obs"
                        id="obs"
                        #obs="ngModel"
                        [(ngModel)]="objeto.obs"
                        pattern="\S(.*\S)?"
                        (change)="objeto.obs = obs.value.trim(); ">
                </textarea>
                <div *ngIf="obs.touched && obs.errors">
                    <p class="text-danger" *ngIf="obs.errors">{{email.errors|json}}</p>
                </div>
            </div>
        </div>
        <div class="row mt-1 align-items-start">
            <div *ngIf="erro || form.invalid" class="col-lg-10 col-md-8 col-12 mb-2">
                <p class="text-danger" *ngIf="erro">{{erro }}</p>
                <p *ngIf="form.invalid && !erro" class="text-danger">Preencha todos os campos obrigatórios (*) corretamente para salvar.</p>
            </div>
            <button class="btn btn-primary mr-1 ml-auto col" [disabled]="form.invalid || loading || loadingPessoa">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> 
                <span>Salvar</span>
            </button>
        </div>
    </form>
</ng-template>

