<ng-template #icon>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
        <path
              d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
        <path
              d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
    </svg>
</ng-template>
<ng-template #template>
    <div class="mt-3">
        <p-tabView (activeIndexChange)="tabChanged($event)" [activeIndex]="activeIndex">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <span>Invoice</span>
                </ng-template>
                <div class="px-4">
                    <form #invoice="ngForm">
                        <div class="mb-3 row">
                            <div class="d-flex align-items-center flex-wrap">
                                <button type="button" class="btn btn-dark mb-2" [disabled]="objeto.invoice.id == 0" (click)="invoiceDownload()">Baixar PDF</button>
                                <span class="text-danger ms-0 ms-sm-2" *ngIf="objeto.invoice.id == 0">Você deve primeiro salvar os dados para baixar o PDF</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12"> <!-- Número Invoice -->
                                <label for="id">Nº: <span class="text-danger">*</span> <small>(automático)</small></label>
                                <input type="text"
                                       class="form-control"
                                       name="id"
                                       id="id"
                                       mask="0*"
                                       #id="ngModel"
                                       [(ngModel)]="objeto.invoice.id"
                                       readonly>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12"> <!-- Data Invoice -->
                                <label for="data">Data Invoice: <span class="text-danger">*</span></label>
                                <app-input-date [valueInput]="objeto.invoice.data"
                                                (valueChanges)="objeto.invoice.data = $event;"
                                                [inputId]="'data'"
                                                [showErrorMessage]="true"
                                                [required]="true"
                                                type="datetime-local"></app-input-date>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12"> <!-- Moeda -->
                                <label for="moeda_Id">Moeda: <span class="text-danger">*</span></label>
                                <p-dropdown [options]="moedas"
                                            [(ngModel)]="objeto.invoice.moeda_Id"
                                            #moeda_Id="ngModel"
                                            name="moeda_Id"
                                            inputId="moeda_Id"
                                            [styleClass]="'form-control ' + (loadingMoedas ? 'form-control-loading' : '')"
                                            [showClear]="true"
                                            [filter]="true"
                                            [filterFields]="['nome', 'simbolo', 'codigo']"
                                            optionLabel="nome"
                                            optionValue="id"
                                            placeholder="Selecione uma moeda"
                                            [required]="true"
                                            [showClear]="true">
                                    <ng-template let-item pTemplate="item">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center w-100" [title]="item.nome">
                                                <span class="flag flag-info px-2 me-2">{{item.codigo}}</span>
                                                <span class="text-ellipsis">{{item.nome}}</span>
                                                <span class="flag flag-info px-2 ms-auto">{{item.simbolo}}</span>
                                            </div>
                                            <div class="ms-2">
                                                <a class="py-1 px-1 text-dark" (click)="moedaEditar(item)" title="Editar"><fa-icon [icon]="faEdit"></fa-icon></a>
                                                <a class="py-1 px-1 text-dark" *ngIf="podeExcluir" (click)="moedaExcluir(item.id)" title="Editar"><fa-icon [icon]="faTrash"></fa-icon></a>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <div class="py-2 px-3 border-top bg-light"> Não encontrou? Clique para <a class="link text-info" [routerLink]="['./moeda']">adicionar</a>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <div *ngIf="moeda_Id.touched && moeda_Id.errors">
                                    <p class="text-danger" *ngIf="moeda_Id.errors['required']">Este campo é obrigatório.</p>
                                </div>
                            </div>

                            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12"> <!-- Valor -->
                                <label for="valor">Valor: <span class="text-danger">*</span></label>
                                <app-input-number [valueInput]="objeto.invoice.valor"
                                                  (valueChanges)="objeto.invoice.valor = $event; calculaMoedaNacional(); calculaVET();"
                                                  [inputId]="'valor'"
                                                  [mask]="'separator.4'"
                                                  [showErrorMessage]="true"
                                                  [allowNegativeNumbers]="false"
                                                  [required]="true"
                                                  [autoReplaceValue]="false"
                                                  [min]="0.1"
                                                  [max]="999999999"></app-input-number>
                            </div>

                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"> <!-- Instituição Financeira -->
                                <label for="instituicaoFinanceira_Id">Instituição Financeira: <span class="text-danger">*</span></label>
                                <p-dropdown [styleClass]="'form-control ' + (loadingInstituicaoFinanceira ? 'form-control-loading' : '')"
                                            [showClear]="true"
                                            [options]="instituicaoFinanceira"
                                            #instituicaoFinanceira_Id="ngModel"
                                            [(ngModel)]="objeto.invoice.instituicaoFinanceira_Id"
                                            optionLabel="nome"
                                            optionValue="id"
                                            [placeholder]="'Selecione'"
                                            [disabled]="loadingInstituicaoFinanceira"
                                            name="instituicaoFinanceira_Id"
                                            inputId="instituicaoFinanceira_Id"
                                            [required]="true"
                                            [filter]="true"
                                            [filterFields]="['nome', 'codigoRegistro']">
                                    <ng-template let-item pTemplate="item">
                                        <div>
                                            <p>{{item.nome}}</p>
                                            <p><strong>Código de Registro:</strong> {{item.codigoRegistro}}</p>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <div class="py-2 px-3 border-top bg-light"> Não encontrou? Clique para <a class="link text-info" [routerLink]="['./instituicao-financeira']">adicionar</a>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <div *ngIf="instituicaoFinanceira_Id.touched && instituicaoFinanceira_Id.errors">
                                    <p class="text-danger" *ngIf="instituicaoFinanceira_Id.errors['required']">Este campo é obrigatório.</p>
                                </div>
                            </div>

                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"> <!-- Beneficiário -->
                                <label for="beneficiario_Id">Beneficiário: <span class="text-danger">*</span></label>
                                <p-dropdown
                                            [options]="beneficiarios"
                                            [(ngModel)]="objeto.invoice.beneficiario_Id"
                                            #beneficiario_Id="ngModel"
                                            name="beneficiario_Id"
                                            inputId="beneficiario_Id"
                                            [styleClass]="'form-control ' + (loadingBeneficiarios ? 'form-control-loading' : '')"
                                            [showClear]="true"
                                            [filter]="true"
                                            [filterFields]="['nome', 'codigoRegistro']"
                                            optionLabel="nome"
                                            optionValue="id"
                                            placeholder="Selecione um beneficiário"
                                            [required]="true"
                                            [showClear]="false"
                                            (ngModelChange)="beneficiarioChange()">
                                    <ng-template let-item pTemplate="item">
                                        <div>
                                            <p>{{item.nome}}</p>
                                            <p><strong>Código de Registro:</strong> {{item.codigoRegistro}}</p>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <div class="py-2 px-3 border-top bg-light"> Não encontrou? Clique para <a class="link text-info" [routerLink]="['./beneficiario']">adicionar</a>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <div *ngIf="beneficiario_Id.touched && beneficiario_Id.errors">
                                    <p class="text-danger" *ngIf="beneficiario_Id.errors['required']">Este campo é obrigatório.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Dados do Beneficiário -->
                        <div class="row">
                            <div class="form-group mt-3">
                                <div class="col-sm-12 card py-3 px-4">
                                    <div class="row">
                                       <div class="d-flex">
                                            <div col="col-xl-9 col-lg-9 col-md-8 col-sm-7 col-12">
                                                <h6>Dados do Beneficiário </h6>
                                                <p class="mb-3"><small class="text-danger">(Selecione um beneficiário para carregar dados)</small></p>
                                            </div>
                                            <div class="ms-auto">
                                                <button type="button" class="btn btn-dark" (click)="alterarConta = true">Alterar conta</button>
                                            </div>
                                       </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12"> <!-- Banco -->
                                            <label for="nomeBanco">Banco: </label>
                                            <input type="text"
                                                   id="nomeBanco"
                                                   class="form-control"
                                                   [value]="bancoBeneficiarioSelected?.nome ?? 'N/A'"
                                                   readonly>
                                        </div>
                                        <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12"> <!-- Conta -->
                                            <label for="conta">Conta: </label>
                                            <input type="text"
                                                    class="form-control"
                                                   id="conta"
                                                   name="conta"
                                                   #conta="ngModel"
                                                   [(ngModel)]="objeto.invoice.conta"
                                                   [readonly]="!alterarConta"
                                                   required>
                                            <div *ngIf="conta.touched && conta.errors">
                                                <p class="text-danger" *ngIf="conta.errors['required']">Este campo é obrigatório.</p>
                                            </div>
                                        </div>
                                        <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12"> <!-- Código Swift -->
                                            <label for="codigoSwift">Código Swift <small>(Banco)</small>: </label>
                                            <input type="text"
                                                   id="codigoSwift"
                                                   class="form-control"
                                                   [value]="bancoBeneficiarioSelected?.codigoSwift ?? 'N/A'"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="row">
                                      <div>
                                          <small><b>Endereço do banco</b></small>
                                          <hr class="w-100">
                                      </div>
                                  </div>
                                    <!-- Endereço do Banco -->
                                    <div class="row">
                                        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "> <!-- Endereço -->
                                            <label for="logradouro">Endereço: </label>
                                            <textarea rows="1"
                                                   class="form-control"
                                                   id="logradouro"
                                                   [value]="bancoBeneficiarioSelected?.logradouro ?? 'N/A'"
                                                   disabled>
                                                </textarea>
                                        </div>
                                        <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-4 col-12 "> <!-- Cidade -->
                                            <label for="cidade">Cidade: </label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="cidade"
                                                   [value]="bancoBeneficiarioSelected?.cidade ?? 'N/A'"
                                                   disabled>
                                        </div>
                                        <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-4 col-12 "> <!-- UF -->
                                            <label for="estado">UF: </label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="estado"
                                                   [value]="bancoBeneficiarioSelected?.estado ?? 'N/A'"
                                                   disabled>
                                        </div>
                                        <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-4 col-12 "> <!-- País -->
                                            <label for="pais_Id">País: </label>
                                            <input type="text"
                                                   class="form-control"
                                                   id="pais_Id"
                                                   [value]="bancoBeneficiarioSelected?.pais_Id ?? 'N/A'"
                                                   disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="d-flex flex-row flex-wrap align-items-center justify-content-between">
                                <div *ngIf="invoice.invalid">
                                    <p *ngIf="invoice.invalid && !erro" class="text-danger">Preencha os campos obrigatórios (*) de Invoice corretamente para continuar.</p>
                                </div>
                                <button type="button" (click)="tabChanged(1)" class="btn btn-step btn-step-next ms-auto " [disabled]="invoice.invalid">
                                    <span class="btn-step-text me-2 mb-1">Próximo</span>
                                   <fa-icon [icon]="faArrowRight"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </p-tabPanel>
            <p-tabPanel [disabled]="invoice.invalid == true">
                <ng-template pTemplate="header">
                    <span>Contrato</span>
                </ng-template>
                <div class="px-4">
                    <form #contrato="ngForm">
                        <div class="mb-3 row">
                            <div class="d-flex align-items-center flex-wrap">
                                <button type="button" class="btn btn-dark mb-2" [disabled]="objeto.invoice.id == 0" (click)="contratoDownload()">Baixar PDF</button>
                                <span class="text-danger ms-0 ms-sm-2" *ngIf="objeto.invoice.id == 0">Você deve primeiro salvar os dados para baixar o PDF</span>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Data do Contrato -->
                            <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12" title="Data do Contrato">
                                <label for="data">Data do contrato: <span class="text-danger">*</span></label>
                                <app-input-date [valueInput]="objeto.contrato.data"
                                                (valueChanges)="objeto.contrato.data = $event;"
                                                [inputId]="'data'"
                                                [showErrorMessage]="true"
                                                [required]="true"
                                                type="datetime-local"></app-input-date>
                            </div>
                            <!-- Nº do Contrato de Câmbio -->
                            <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12" title="Nº do Contrato de Câmbio">
                                <label for="numContrato">Nº do Contrato de Câmbio: <span class="text-danger">*</span><small>(automático)</small></label>
                                <input type="text"
                                       class="form-control"
                                       name="numContrato"
                                       id="numContrato"
                                       #numContrato="ngModel"
                                       [(ngModel)]="objeto.contrato.numContrato"
                                       readonly
                                       mask="0*">
                           
                            </div>
                            <!-- Tipos -->
                            <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12" title="Tipos">
                                <label for="tipo_Id">Tipo do Contrato de Câmbio: <span class="text-danger">*</span></label>
                                <p-dropdown
                                            [options]="tipos"
                                            [(ngModel)]="objeto.contrato.tipo_Id"
                                            #tipo_Id="ngModel"
                                            name="tipo_Id"
                                            inputId="tipo_Id"
                                            [styleClass]="'form-control ' + (loadingTipo ? 'form-control-loading' : '')"
                                            [showClear]="true"
                                            [filter]="true"
                                            optionLabel="nome"
                                            optionValue="id"
                                            placeholder="Selecione um tipo"
                                            [required]="true"
                                            [showClear]="true">
                                    <ng-template let-item pTemplate="item">
                                        <div class="d-flex align-items-center">
                                            <span>{{item.nome}} </span>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <div *ngIf="tipo_Id.touched && tipo_Id.errors">
                                    <p class="text-danger" *ngIf="tipo_Id.errors['required']">Este campo é obrigatório.</p>
                                </div>
                            </div>
                            <!-- Eventos -->
                            <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12" title="Eventos">
                                <label for="evento_Id">Eventos: <span class="text-danger">*</span></label>
                                <p-dropdown
                                            [options]="eventos"
                                            [(ngModel)]="objeto.contrato.evento_Id"
                                            #evento_Id="ngModel"
                                            name="evento_Id"
                                            inputId="evento_Id"
                                            [styleClass]="'form-control ' + (loadingEvento ? 'form-control-loading' : '')"
                                            [showClear]="true"
                                            [filter]="true"
                                            [filterFields]="['nome']"
                                            optionLabel="nome"
                                            optionValue="id"
                                            placeholder="Selecione um evento"
                                            [required]="true"
                                            [showClear]="true">
                                    <ng-template let-item pTemplate="item">
                                        <div class="d-flex align-items-center">
                                            <span>{{item.nome}} </span>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <div *ngIf="evento_Id.touched && evento_Id.errors">
                                    <p class="text-danger" *ngIf="evento_Id.errors['required']">Este campo é obrigatório.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Taxa Cambial -->
                            <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12" title="Taxa Cambial">
                                <label for="taxa">Taxa Cambial: <small>(USD)</small>&nbsp;<span class="text-danger">*</span> </label>
                                <app-input-number [valueInput]="objeto.contrato.taxa"
                                                  (valueChanges)="objeto.contrato.taxa = $event; calculaMoedaNacional(); calculaVET();"
                                                  [inputId]="'taxa'"
                                                  [mask]="'separator.4'"
                                                  [showErrorMessage]="true"
                                                  [allowNegativeNumbers]="false"
                                                  [required]="true"
                                                  suffix=" USD"
                                                  [autoReplaceValue]="false"
                                                  [min]="0.1"
                                                  [max]="999999999"></app-input-number>
                            </div>
                            <!-- Valor Moeda Nacional -->
                            <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12" title="Valor Moeda Nacional">
                                <label for="valorNacional">Valor Moeda Nacional: <small>(R$)</small>&nbsp;<span class="text-danger">*</span></label>
                                <input type="text"
                                    class="form-control"
                                    name="valorNacional"
                                    id="valorNacional"
                                    #valorNacional="ngModel"
                                    #valorNacionalEl
                                    [(ngModel)]="objeto.contrato.valorNacional"
                                    [readOnly]="true"
                                    (focus)="valorNacionalObs.show($event, valorNacionalEl)"
                                    (blur)="valorNacionalObs.hide()"
                                    (mouseenter)="valorNacionalObs.show($event, valorNacionalEl)"
                                    (mouseleave)="valorNacionalObs.hide()"
                                    prefix="R$ "
                                    [mask]="'separator.2'"
                                    thousandSeparator="."
                                    decimalMarker=","
                                    [min]="0.1"
                                    [max]="999999999">
                                    
                            </div>
                            <!-- Percentual de Adiantamento -->
                            <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12" title="Percentual de Adiantamento">
                                <label for="percentualAdiantamento">Percentual de Adiantamento: <small>(%)</small>&nbsp;</label>
                                <app-input-number [valueInput]="objeto.contrato.percentualAdiantamento"
                                                  (valueChanges)="objeto.contrato.percentualAdiantamento = $event;"
                                                  [inputId]="'percentualAdiantamento'"
                                                  [mask]="'separator.2'"
                                                  [showErrorMessage]="false"
                                                  [allowNegativeNumbers]="false"
                                                  [required]="false"
                                                  [autoReplaceValue]="false"
                                                  [suffix]="'%'"
                                                  [min]="0"
                                                  [max]="100"></app-input-number>
                            </div>
                            <!-- RDE -->
                            <div class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12" title="RDE">
                                <label for="rde">RDE:</label>
                                <input type="text"
                                       class="form-control"
                                       name="rde"
                                       id="rde"
                                       #rde="ngModel"
                                       [(ngModel)]="objeto.contrato.rde"
                                       pattern="\S(.*\S)?"
                                       (change)="objeto.contrato.rde = rde.value.trim();">
                            </div>
                        </div>
                        <div class="row">
                            <!-- Valor Efetivo Total (VET) -->
                            <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12" title="Valor Efetivo Total (VET)">
                                <label for="vet">Valor Efetivo Total (VET):</label>
                                <input type="text"
                                       class="form-control"
                                       name="vet"
                                       id="vet"
                                       #vet="ngModel"
                                       #vetEl
                                       [(ngModel)]="objeto.contrato.vet"
                                       [readOnly]="true"
                                       (focus)="vetObs.show($event, vetEl)"
                                       (blur)="vetObs.hide()"
                                       (mouseenter)="vetObs.show($event, vetEl)"
                                       (mouseleave)="vetObs.hide()"
                                       [mask]="'separator.4'"
                                       thousandSeparator="."
                                       decimalMarker=",">
                            </div>
                            <!-- Descrição da Forma de Entrega da moeda estrangeira -->
                            <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12" title="Descrição da Forma de Entrega da moeda estrangeira">
                                <label for="descricaoFormaEntrega">Descrição da Forma de Entrega da moeda estrangeira:</label>
                                <input type="text"
                                       class="form-control"
                                       name="descricaoFormaEntrega"
                                       id="descricaoFormaEntrega"
                                       #descricaoFormaEntrega="ngModel"
                                       [(ngModel)]="objeto.contrato.descricaoFormaEntrega"
                                       required
                                       pattern="\S(.*\S)?"
                                       readonly
                                       (change)="objeto.contrato.descricaoFormaEntrega = descricaoFormaEntrega.value.trim();">
                            </div>
                            <!-- Liquidação Até -->
                            <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" title="Liquidação Até">
                                <label for="dataLiquidacao">Liquidação Até: <span class="text-danger">*</span></label>
                                <app-input-date [valueInput]="objeto.contrato.dataLiquidacao"
                                                (valueChanges)="objeto.contrato.dataLiquidacao = $event;"
                                                [inputId]="'dataLiquidacao'"
                                                [showErrorMessage]="true"
                                                [required]="true"
                                                type="date"></app-input-date>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Código da Natureza -->
                            <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" title="Código da Natureza">
                                <label for="codigoNatureza">Código da Natureza:</label>
                                <app-input-number [valueInput]="objeto.contrato.codigoNatureza "
                                                  (valueChanges)="objeto.contrato.codigoNatureza = $event;"
                                                  [inputId]="'codigoNatureza'"
                                                  [mask]="'00000-00-A-00-00'"
                                                  [showErrorMessage]="false"
                                                  [allowNegativeNumbers]="false"
                                                  [required]="false"
                                                  [readonly]="true"
                                                  [autoReplaceValue]="false"></app-input-number>
                            </div>
                            <!-- Descrição da Natureza do Fato -->
                            <div class="form-group col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12" title="Descrição da Natureza do Fato">
                                <label for="descricaoNaturezaFato">Descrição da Natureza do Fato:</label>
                                <input type="text"
                                       class="form-control"
                                       name="descricaoNaturezaFato"
                                       id="descricaoNaturezaFato"
                                       #descricaoNaturezaFato="ngModel"
                                       [(ngModel)]="objeto.contrato.descricaoNaturezaFato"
                                       required
                                       pattern="\S(.*\S)?"
                                       readonly
                                       (change)="objeto.contrato.descricaoNaturezaFato = descricaoNaturezaFato.value.trim();">
                            </div>
                        </div>
                        <div class="row align-items-end">
                            <!-- País do Pagador/Recebedor no Exterior -->
                            <div class="form-group col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12" title="País do Pagador/Recebedor no Exterior">
                                <label for="pais_Id">País do Pagador/Recebedor no Exterior:</label>
                                <input type="text"
                                    class="form-control"
                                    id="pais_Id"
                                    [value]="beneficiarioSelected?.pais_Id ?? 'N/A'"
                                    disabled >
                            </div>
                            <!-- Pagador/Recebedor no Exterior -->
                            <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12" title="Pagador/Recebedor no Exterior">
                                <label for="pagRecExterior">Pagador/Recebedor no Exterior:</label>
                                <input type="text"
                                    class="form-control"
                                    id="pagRecExterior"
                                    [value]="beneficiarioSelected?.nome ?? 'N/A'"
                                    disabled >
                            </div>
                            <!-- Código da Relação de Vínculo entre cliente e o Pagador/Recebedor -->
                            <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" title="Código da Relação de Vínculo entre cliente e o Pagador/Recebedor">
                                <label for="codigoVinculoPagRecExterior">Código da Relação de Vínculo entre cliente e o Pagador/Recebedor:</label>
                                <input type="text"
                                       class="form-control"
                                       name="codigoVinculoPagRecExterior"
                                       id="codigoVinculoPagRecExterior"
                                       #codigoVinculoPagRecExterior="ngModel"
                                       [(ngModel)]="objeto.contrato.codigoVinculoPagRecExterior"
                                       required
                                       [readonly]="true"
                                       (change)="objeto.contrato.codigoVinculoPagRecExterior = codigoVinculoPagRecExterior.value.trim();">
                            </div>
                        </div>
                        <div class="row">
                            <!-- Especificações -->
                            <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" title="Especificações">
                                <label for="especificacoes">Especificações: </label>
                                <textarea
                                          class="form-control"
                                          name="especificacoes"
                                          id="especificacoes"
                                          #especificacoes="ngModel"
                                          [(ngModel)]="objeto.contrato.especificacoes"
                                          pattern="\S(.*\S)?"
                                          (change)="objeto.contrato.especificacoes = especificacoes.value.trim();">
                                  </textarea>
                            </div>
                            <!-- Cláusulas -->
                            <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" title="Cláusulas">
                                <label for="clausulas">Cláusulas: </label>
                                <textarea
                                          class="form-control"
                                          name="clausulas"
                                          id="clausulas"
                                          #clausulas="ngModel"
                                          [(ngModel)]="objeto.contrato.clausulas"
                                          pattern="\S(.*\S)?"
                                          (change)="objeto.contrato.clausulas = clausulas.value.trim();">
                                  </textarea>
                            </div>
                            <!-- Instruções de Recebimento/Pagamento -->
                            <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" title="Instruções de Recebimento/Pagamento">
                                <label for="instrucoesRecebimentoPagamento">Instruções de Recebimento/Pagamento: </label>
                                <textarea
                                          class="form-control"
                                          name="instrucoesRecebimentoPagamento"
                                          id="instrucoesRecebimentoPagamento"
                                          #instrucoesRecebimentoPagamento="ngModel"
                                          [(ngModel)]="objeto.contrato.instrucoesRecebimentoPagamento"
                                          pattern="\S(.*\S)?"
                                          (change)="objeto.contrato.instrucoesRecebimentoPagamento = instrucoesRecebimentoPagamento.value.trim();">
                                  </textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="d-flex flex-row flex-wrap align-items-center justify-content-between">
                                <button type="button" (click)="tabChanged(0)" class="btn btn-step btn-step-next">
                                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                                    <span class="btn-step-text ms-2 mb-1">Anterior</span>
                                </button>
                                <div *ngIf="contrato.invalid">
                                    <p *ngIf="contrato.invalid && !erro" class="text-danger">Preencha os campos obrigatórios (*) de Contrato corretamente para salvar.</p>
                                </div>
                                <button type="button" *ngIf="isEditPage" (click)="tabChanged(2)" class="btn btn-step btn-step-next ms-auto " [disabled]="invoice.invalid">
                                    <span class="btn-step-text me-2 mb-1">Próximo</span>
                                   <fa-icon [icon]="faArrowRight"></fa-icon>
                                </button>
                                <button type="button" *ngIf="!isEditPage" (click)="send(invoice, contrato)" class="btn btn-primary me-0 "  [disabled]="invoice.invalid || contrato.invalid || loading">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                                    <span>Salvar e Gerar Swift</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </p-tabPanel>
            <p-tabPanel *ngIf="isEditPage"> <!---->
                <ng-template pTemplate="header">
                    <span>Swift</span>
                </ng-template>
                <div class="px-2">
                    <div class="swift">
                        <button type="button" class="btn btn-dark" [disabled]="objeto.invoice.id == 0" (click)="swiftDownload()">Baixar Documento Swift</button>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
        <div class="d-flex align-items-stretch flex-wrap p-0 mt-3 " *ngIf="isEditPage">
            <div *ngIf="erro || invoice.invalid || contrato.invalid" class="m-0 me-3 mb-0">
                <p class="text-danger" *ngIf="erro">{{erro}}</p>
                <p *ngIf="invoice.invalid && !erro" class="text-danger">Preencha os campos obrigatórios (*) de Invoice corretamente para salvar.</p>
                <p *ngIf="contrato.invalid && !erro" class="text-danger">Preencha os campos obrigatórios (*) de Contrato corretamente para salvar.</p>

            </div>
            <button (click)="kitDownload()" class="btn btn-dark me-1 ms-auto" [disabled]="loading || loadingSwiftFile || loadingContratoFile || loadingInvoiceFile">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                <span>Baixar Kit</span>
            </button>
            <button (click)="send(invoice, contrato)" class="btn btn-primary me-0 "  [disabled]="invoice.invalid || contrato.invalid || loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                <span>Salvar e Gerar Swift</span>
            </button>
        </div>
    </div>
</ng-template>
<router-outlet></router-outlet>
<p-overlayPanel #vetObs>
    <p class="text-danger">Cálculo</p>
    <p>IOF = 0,38</p>
    <p>R$ IOF = Valor Moeda Nacional * 0,38%</p>
    <p>VET = (Valor Moeda Nacional +  R$ IOF) / Valor Invoice</p>
</p-overlayPanel>
<p-overlayPanel #valorNacionalObs>
    <p class="text-danger">Cálculo</p>
    Valor Moeda Nacional = Valor Invoice * Taxa Cambial
</p-overlayPanel>