.form-control {
    font-size: 13px;
    padding: 4px 8px;
}

::ng-deep .p-tabview {
    display: flex;
    flex-flow: column;
    width: 100%;
}

::ng-deep .p-tabview-nav-container {
    flex: 1 0 20%;
    display: flex;
}

::ng-deep .p-tabview-panels {
    flex: 1 0 80%;
    border: 1px rgb(var(--grey)) solid;
    padding: 15px 0;
    background-color: #f7f7f7;
}

::ng-deep .p-tabview-nav-content {
    position: relative;
    z-index: 1;
    margin-bottom: -1px;
}

::ng-deep .p-tabview-nav {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0;
    width: 100%;
}

::ng-deep .p-tabview-nav li {
    background-color: rgb(var(--secondary));
    display: flex;
    align-items: center;
}

::ng-deep .p-tabview-nav li a {
    color: #fff;
    line-height: 1;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px 10px;
    background-color: rgb(var(--grey));
}

::ng-deep .p-tabview-nav li a>*:not(span) {
    margin-right: 10px;
}

::ng-deep .p-tabview-nav li.p-tabview-ink-bar {
    display: none;
}

::ng-deep .p-tabview-nav li:nth-child(even) {
    background: rgb(var(--secondary));
}

::ng-deep .p-tabview-nav li a:hover {
    color: #fff;
    background-color: rgb(var(--grey));
}

::ng-deep .p-tabview-nav li.p-highlight a {
    background-color: rgb(var(--primary));
    border-bottom: 1px rgb(var(--primary)) solid;
    margin-bottom: 0px;
}

.swift {
    border-radius: 5px;
    border: 2px rgb(var(--primary)) dashed;
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e2e2;
}

.flag {
    min-width: unset;
}

.btn-step {
    background-color: rgb(var(--grey));
    color: #fff;
    border: 2px rgb(var(--grey)) solid;
    padding: 3px 12px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.btn-step:hover {
    background: rgb(var(--grey));
    padding: 3px 12px 3px;
    color: #fff;
    position: static;
    background: #fff;
    color: rgb(var(--grey));
}

.btn.btn-step.disabled,
.btn.btn-step:disabled {
    pointer-events: none !important;
}

.modal__header .icon svg {
    width: 42px;
    height: 40px;
    transform: translateY(9px);
}

.modal__header h3 {
    display: flex;
    align-items: center;
}

::ng-deep .p-overlaypanel {
    padding: 10px 15px;
    background: white;
    box-shadow: 2px 1px 3px -1px #7f7d7d;
    margin-top: 12px;
}

::ng-deep .p-overlaypanel::after {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 15px;
    height: 11px;
    background: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: translate(0, -100%);
    z-index: 2;
}