<section class="page">
    <div class="page__header">
      <span class="title-icon align-items-center">
        <fa-icon [icon]="faFileInvoice"></fa-icon>
      </span>
      <div class="me-auto">
          <h3 class="page__header-title">Invoices</h3>
          <!-- <p class="page__header-subtitle" *ngIf="empresaSelected">
              <small>Invoices cadastrados em
                  <strong>{{empresaSelected.nome || "Empresa X"}}</strong>
              </small>
          </p> -->
      </div>
      <div class="ms-auto mt-auto" style="margin-bottom: 7px;">
          <button class="btn btn-dark" (click)="getList()" [disabled]="loading"><span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>Atualizar</button>
      </div>
      <app-empresa-selected></app-empresa-selected>
  </div>
    <div class="page__body">
            <ng-template #topActions>
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-12 mb-2 me-md-2 mx-md-1 px-0 ng-star-inserted">
                    <a class="btn btn-primary d-flex align-items-center align-baseline justify-content-center me-md-0 me-sm-1" [routerLink]="['cadastrar']">
                        <span style="margin-top: -1px; margin-bottom: 1px;"> Cadastrar Invoice</span>
                    </a>
                </div>
            </ng-template>
            <app-list-shared [topActions]="topActions"
                             [list]="list"
                             [filterLink]="false"
                             [filterTable]="true"
                             [paginator]="true"
                             [sortTable]="true"
                             [menuTable]="true"
                             [columns]="columns"
                             [tableLinks]="tableLinks"
                             [selectable]="true"></app-list-shared>
    </div>
</section>
<router-outlet></router-outlet>
