<div>
    <!-- (paste)="paste($event)"-->
    <ng-template #icon>
        <img src="assets/img/icon-excel.png">
    </ng-template>
    <ng-template #template>
        <form #form="ngForm" (ngSubmit)="send()" class="needs-validation">
            <label for="file" class="input-file-container">
                <p class="icon">
                    <i class="pi pi-upload"></i>
                </p>
                <h3>Clique e arraste para selecionar arquivo</h3>
                <p>ou <label for="file" class="link">clique aqui</label> para abrir explorador de arquivos</p>
                <!-- <p><small>Você também pode copiar e colar as linhas aqui para importar os dados</small></p> -->
                <input type="file"
                       name="file"
                       id="file"
                       #file="ngModel"
                       [ngModel]
                       multiple
                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                       (change)="readExcel1($event)">
            </label>
            <div class="my-loading" [class.active]="loading" *ngIf="loading">
                <span class="spinner-border spinner-border-sm me-1"></span>
                <br>
                <p>Carregando arquivo.</p>
            </div>
            <div *ngIf="!loading && listAll.length > 0" class="mb-3 mx-1 py-2">
                <p>{{listOkValidation.length| currency : 'BRL' : '' : '1.0' }} linha(s) processada(s)</p>
                <h5 *ngIf="listErros.length == 0">Nenhuma linha incorreta</h5>
                <div *ngIf="listErros.length > 0">
                    <h6 class="text-danger">{{listErros.length}} linha(s) incorreta(s)</h6>
                    <p class="text-danger">As linhas incorretas não serão cadastradas.</p>
                </div>
            </div>

            <div class="table-responsive content" *ngIf="listErros.length > 0">
                <p-table
                         [value]="listErros"
                         styleClass="table table-stripped p-datatable-striped"
                         [globalFilterFields]="filters"
                         [filterDelay]="100"
                         [virtualScroll]="true" 
                         [scrollable]="true" 
                         [scrollHeight]="listErros.length > 5 ? '300px' : ((listErros.length * 46) + 51) + 'px'"
                         [virtualScrollItemSize]="46"
                         [loading]="loading">
                    <ng-template pTemplate="header">
                        <tr class="grey" *ngIf="listErros.length > 0">
                            <th> <!-- Linha -->
                                <span class="me-3">Linha</span>
                            </th>
                            <th> <!-- Erro -->
                                <span class="me-3">Erro</span>
                            </th>
                            <th> <!-- Data da Transação -->
                                <span class="me-3">Data da <br> Transação</span>
                                <p-sortIcon [field]="'dataTransacao'"></p-sortIcon>
                                <p-columnFilter #dataTransacaoFilter [type]="'date'" [field]="'dataTransacao'"
                                                [display]="'menu'" [matchMode]="'dateIs'" [showMatchModes]="true"
                                                [showAddButton]="true" [showOperator]="false">
                                    <ng-template pTemplate="filter" let-filter="filterCallback">
                                        <p-calendar [(ngModel)]="currentDateFilter.dataTransacao"
                                                    (onClear)="currentDateFilter.dataTransacao = undefined"
                                                    inputId="dataTransacao"
                                                    (onBlur)="primeNgDataFilter(currentDateFilter.dataTransacao!, filter, dataTransacaoFilter)"
                                                    (onSelect)="primeNgDataFilter(currentDateFilter.dataTransacao!, filter, dataTransacaoFilter);"
                                                    [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <th> <!-- Tipo de Cliente no Brasil -->
                                <span class="me-3">Tipo de <br> Cliente no <br> Brasil</span>
                                <p-sortIcon [field]="'tipoCliente'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'tipoCliente'" [display]="'menu'"
                                                [matchMode]="'contains'" [showMatchModes]="false"
                                                [showAddButton]="false"></p-columnFilter>
                            </th>
                            <th> <!-- CPF/CNPJ do cliente no Brasil -->
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="me-auto">CPF/CNPJ do <br> cliente no <br> Brasil</span>
                                    <p-sortIcon [field]="'docCliente'"></p-sortIcon>
                                    <p-columnFilter [type]="'text'" [field]="'docCliente'" [display]="'menu'"
                                                    [matchMode]="'contains'" [showMatchModes]="false"
                                                    [showAddButton]="false"></p-columnFilter>
                                </div>
                            </th>
                            <th> <!-- Nome do Cliente no Brasil -->
                                <span class="me-3">Nome do Cliente no Brasil</span>
                                <p-sortIcon [field]="'nomeCliente'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'nomeCliente'" [display]="'menu'"
                                                [matchMode]="'contains'" [showMatchModes]="false"
                                                [showAddButton]="false"></p-columnFilter>

                            </th>
                            <th> <!-- Nome do Comprador ou Vendedor no Exterior -->
                                <span class="me-3">Nome do Comprador ou Vendedor no <br> Exterior</span>
                                <p-sortIcon [field]="'nomeComprador'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'nomeComprador'" [display]="'menu'"
                                                [matchMode]="'contains'" [showMatchModes]="false"
                                                [showAddButton]="false"></p-columnFilter>

                            </th>
                            <th> <!-- País do Comprador ou Vendedor no Exterior -->
                                <span class="me-3">País do <br> Comprador <br> ou Vendedor <br> no Exterior</span>
                                <p-sortIcon [field]="'paisCompradorVendedor'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'paisCompradorVendedor'" [display]="'menu'"
                                                [matchMode]="'contains'" [showMatchModes]="false"
                                                [showAddButton]="false"></p-columnFilter>

                            </th>
                            <th> <!-- Moeda -->
                                <span class="me-3">Moeda</span>
                                <p-sortIcon [field]="'moeda'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'moeda'" [display]="'menu'"
                                                [matchMode]="'contains'" [showMatchModes]="false"
                                                [showAddButton]="false"></p-columnFilter>

                            </th>
                            <th> <!-- Tipo de Transação -->
                                <span class="me-3">Tipo de <br> Transação</span>
                                <p-sortIcon [field]="'tipoTransacao'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'tipoTransacao'" [display]="'menu'"
                                                [matchMode]="'contains'" [showMatchModes]="false"
                                                [showAddButton]="false"></p-columnFilter>

                            </th>
                            <th> <!-- Forma de Pagamento -->
                                <span class="me-3">Forma de <br> Pagamento</span>
                                <p-sortIcon [field]="'formaPagamento'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'formaPagamento'" [display]="'menu'"
                                                [matchMode]="'contains'" [showMatchModes]="false"
                                                [showAddButton]="false"></p-columnFilter>

                            </th>
                            <th> <!-- Valor na Moeda Estrangeira -->
                                <span class="me-3">Valor na <br> Moeda <br> Estrangeira</span>
                                <p-sortIcon [field]="'valorMoedaEstrangeira'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'valorMoedaEstrangeira'" [display]="'menu'"
                                                [matchMode]="'contains'" [showMatchModes]="false"
                                                [showAddButton]="false"></p-columnFilter>

                            </th>
                            <th> <!-- Valor na Moeda Nacional -->
                                <span class="me-3">Valor na <br> Moeda <br> Nacional</span>
                                <p-sortIcon [field]="'valorMoedaNacional'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'valorMoedaNacional'" [display]="'menu'"
                                                [matchMode]="'contains'" [showMatchModes]="false"
                                                [showAddButton]="false"></p-columnFilter>

                            </th>
                            <th> <!-- Status Operação -->
                                <span class="me-3">Status Operação</span>
                                <p-sortIcon [field]="'statusOperacao'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'statusOperacao'" [display]="'menu'"
                                                [matchMode]="'contains'" [showMatchModes]="false"
                                                [showAddButton]="false"></p-columnFilter>

                            </th>
                            <th class="td-actions"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                        <tr>
                            <td>{{item.excelLinha}}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="me-2 flag flag-text flag-danger">
                                        <fa-icon [icon]="faCircleXmark"></fa-icon>
                                    </span>
                                    <!-- 
                                          <span *ngIf="item.detalhes != 'OK'" class="me-2 flag flag-text flag-danger">
                                                <fa-icon [icon]="faCircleXmark"></fa-icon>
                                            </span>
                                            <span *ngIf="item.detalhes == 'OK'" class="me-2 flag flag-text flag-green">
                                                <fa-icon [icon]="faCircleCheck"></fa-icon>
                                            </span> 
                                    -->
                                    <span>{{item.detalhes}}</span>
                                </div>
                            </td>
                            <td><span *ngIf="item.dataTransacao; else na">{{item.dataTransacao | date : 'dd/MM/yyyy' }}</span></td>
                            <td><span *ngIf="item.tipoCliente; else na">{{item.tipoCliente}}</span></td>
                            <td><span *ngIf="item.docCliente; else na">{{item.docCliente}}</span></td>
                            <td><span *ngIf="item.nomeCliente; else na">{{item.nomeCliente}}</span></td>
                            <td><span *ngIf="item.nomeComprador; else na">{{item.nomeComprador}}</span></td>
                            <td><span *ngIf="item.paisCompradorVendedor; else na">{{item.paisCompradorVendedor}}</span></td>
                            <td><span *ngIf="item.moeda; else na">{{item.moeda}}</span></td>
                            <td><span *ngIf="item.tipoTransacao; else na">{{item.tipoTransacao}}</span></td>
                            <td><span *ngIf="item.formaPagamento; else na">{{item.formaPagamento}}</span></td>
                            <td><span *ngIf="item.valorMoedaEstrangeira; else na">{{item.valorMoedaEstrangeira | currency : 'BRL' : '' : '1.2' }}</span></td>
                            <td><span *ngIf="item.valorMoedaNacional; else na">{{item.valorMoedaNacional | currency : 'BRL' : '' : '1.2'}}</span></td>
                            <td><span *ngIf="item.statusOperacao; else na">{{item.statusOperacao}}</span></td>
                            <td class="td-actions">
                                <button type="button" (click)="removeItem(item)" class="btn btn-small btn-dark">excluir</button>
                            </td>
                            <ng-template #na>
                                <span class="text-danger">N\A</span>
                            </ng-template>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            
            <div class="d-flex align-items-start flex-wrap p-0 mt-1">
                <div class="me-3">
                    <p class="text-info">
                        <a href="assets/modelos/modelo-importacao-pessoa.xlsx" download="modelo-importacao-pessoa.xlsx">Clique aqui para saber como deve ser o arquivo XLSX</a>
                    </p>
                    <div *ngIf="erro || form.invalid || listOkValidation.length == 0" class="m-0">
                        <p class="text-danger" *ngIf="erro">{{erro}}</p>
                        <p *ngIf="(form.valid && !erro ) || listOkValidation.length == 0" class="text-danger">Selecione um arquivo com o padrão definido.</p>
                    </div>
                </div>

                <button class="btn btn-primary mr-0 ml-auto" [disabled]="form.invalid || loading || listOkValidation.length == 0">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    <span>Salvar</span>
                </button>
            </div>
        </form>
    </ng-template>
</div>