<ng-template #icon class="align-items-center">
    <span class="title-icon ">
        <fa-icon [icon]="faUser"></fa-icon>
    </span>
</ng-template>
<ng-template #template>
    <form #form="ngForm" (ngSubmit)="send(form)" class="needs-validation">
        <div class="px-2">
            <!-- Dados do Beneficiário -->
            <div class="row">
                <div class="form-group col-xl-8 col-lg-8 col-md-8 col-sm-6 col-12"> <!-- Nome -->
                    <label for="nome">Nome:<span class="text-danger">*</span></label>
                    <input type="text"
                           class="form-control"
                           name="nome"
                           id="nome"
                           #nome="ngModel"
                           [(ngModel)]="objeto.nome"
                           pattern="\S(.*\S)?"
                           (change)="objeto.nome = nome.value.trim().toUpperCase();"
                           required>
                    <div *ngIf="nome.touched && nome.errors">
                        <p class="text-danger" *ngIf="nome.errors['required']">Este campo é obrigatório.</p>
                    </div>
                </div>
                <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12"> <!-- Código de Registro -->
                    <label for="codigoRegistro">Código de Registro: </label>
                    <input type="text"
                           class="form-control"
                           name="codigoRegistro"
                           id="codigoRegistro"
                           #codigoRegistro="ngModel"
                           [(ngModel)]="objeto.codigoRegistro">
                    <!--
                           required
                           (ngModelChange)="validaCNPJ(cnpj)"
                           mask="00.000.000/0000-00"
                           placeholder="00.000.000/0000-00" -->
                    <div *ngIf="codigoRegistro.touched && codigoRegistro.errors">
                        <p class="text-danger" *ngIf="codigoRegistro.errors['required']">Este campo é obrigatório.</p>
                        <!-- <p class="text-danger" *ngIf="codigoRegistro.errors['mask'] || codigoRegistro.errors['invalid']">CNPJ inválido.</p> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12"> <!-- Representante -->
                    <label for="representante_Id">Representante: <span class="text-danger">*</span></label>
                    <p-dropdown [styleClass]="'form-control ' + (loadingRepresentantes ? 'form-control-loading' : '')"
                                [options]="representantes"
                                #representante_Id="ngModel"
                                [(ngModel)]="objeto.representante_Id"
                                optionLabel="nome"
                                optionValue="id"
                                [placeholder]="'Selecione'"
                                [disabled]="loadingRepresentantes"
                                name="representante_Id"
                                id="representante_Id"
                                [filter]="true"
                                [filterFields]="['codigo', 'nome']"
                                [showClear]="true"
                                (ngModelChange)="representanteChanged($event)"
                                [required]="true"
                                appendTo="body">
                        <ng-template pTemplate="selectedItem">
                            <div *ngIf="representanteSelected">
                                <p>{{representanteSelected.codigo}} - {{representanteSelected.nome}}</p>
                            </div>
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            <div class="d-flex justify-content-between">
                                <div class=" w-100">
                                    <p class="text-ellipsis">{{item.nome}}</p>
                                    <p class="text-ellipsis"><strong>Código:</strong> {{item.codigo}}</p>
                                </div>
                                <div class="ms-2">
                                    <a class="py-1 px-1 text-dark" (click)="editar(item, 'representante')" title="Editar"><fa-icon [icon]="faEdit"></fa-icon></a>
                                    <a class="py-1 px-1 text-dark" *ngIf="podeExcluir" (click)="excluir(item.id, 'representante')" title="Excluir"><fa-icon [icon]="faTrash"></fa-icon></a>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <div class="py-2 px-3 border-top bg-light"> Não encontrou? Clique para <a class="link text-info" [routerLink]="['./representante']">adicionar</a>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <div *ngIf="representante_Id.touched && representante_Id.errors">
                        <p class="text-danger" *ngIf="representante_Id.errors['required']">Este campo é obrigatório.</p>
                    </div>
                </div>
                <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12"> <!-- Banco -->
                    <label for="banco_Id">Banco: <span class="text-danger">*</span></label>
                    <p-dropdown
                                [options]="bancos"
                                [(ngModel)]="objeto.banco_Id"
                                #banco_Id="ngModel"
                                name="banco_Id"
                                inputId="banco_Id"
                                [styleClass]="'form-control ' + (loadingBanco ? 'form-control-loading' : '')"
                                [showClear]="true"
                                [filter]="true"
                                [filterFields]="['nome', 'cidade', 'codigoSwift']"
                                (ngModelChange)="preencheBanco()"
                                filterBy="nome, cidade, codigoSwift"
                                optionLabel="nome"
                                optionValue="id"
                                placeholder="Selecione um banco"
                                [required]="true"
                                [showClear]="true">
                        <ng-template let-item pTemplate="item">
                            <div>
                                <p>{{item.nome}}</p>
                                <p class="text-ellipsis"><strong>Código Swift:</strong> {{item.codigoSwift}}</p>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <div class="py-2 px-3 border-top bg-light"> Não encontrou? Clique para <a class="link text-info"
                                   [routerLink]="['./banco']">adicionar</a>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <div *ngIf="banco_Id.touched && banco_Id.errors">
                        <p class="text-danger" *ngIf="banco_Id.errors['required']">Este campo é obrigatório.</p>
                    </div>
                </div>
                <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12"> <!-- Conta -->
                    <label for="conta">Conta: <span class="text-danger">*</span></label>
                    <input type="text"
                           class="form-control"
                           name="conta"
                           id="conta"
                           #conta="ngModel"
                           [(ngModel)]="objeto.conta"
                           required
                           pattern="\S(.*\S)?"
                           (change)="objeto.conta = conta.value.trim().toUpperCase();">
                    <div *ngIf="conta.touched && conta.errors">
                        <p class="text-danger" *ngIf="conta.errors['required']">Este campo é obrigatório.</p>
                    </div>
                </div>
            </div>
            <!-- Endereço -->
            <div class="row">
                <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <label for="logradouro">Endereço: </label>
                    <textarea rows="1"
                              class="form-control"
                              name="logradouro"
                              id="logradouro"
                              #logradouro="ngModel"
                              [(ngModel)]="objeto.logradouro"
                              pattern="\S(.*\S)?"
                              (change)="objeto.logradouro = logradouro.value.trim().toUpperCase();">
                    </textarea>
                </div>
                <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-4 col-12 ">
                    <label for="cidade">Cidade: </label>
                    <input type="text"
                           class="form-control"
                           name="cidade"
                           id="cidade"
                           #cidade="ngModel"
                           [(ngModel)]="objeto.cidade"
                           pattern="\S(.*\S)?"
                           (change)="objeto.cidade = cidade.value.trim().toUpperCase();">
                </div>
                <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-4 col-12 ">
                    <label for="estado">UF: </label>
                    <input type="text"
                           class="form-control"
                           name="estado"
                           id="estado"
                           #estado="ngModel"
                           [(ngModel)]="objeto.estado"
                           pattern="\S(.*\S)?"
                           (change)="objeto.estado = estado.value.trim().toUpperCase();">
                </div>
                <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-4 col-12"> <!-- País -->
                    <label for="pais_Id">País: </label>
                    <p-dropdown [styleClass]="'form-control ' + (loadingPaises ? 'form-control-loading' : '')"
                                [options]="paises"
                                #pais_Id="ngModel"
                                [(ngModel)]="objeto.pais_Id"
                                optionLabel="nome"
                                optionValue="id"
                                [placeholder]="'Selecione'"
                                [disabled]="loadingPaises"
                                name="pais_Id"
                                id="pais_Id"
                                [filter]="true"
                                filterBy="nome"
                                [showClear]="true"
                                appendTo="body">
                    </p-dropdown>
                    <div *ngIf="pais_Id.touched && pais_Id.errors">
                        <p class="text-danger" *ngIf="pais_Id.errors['required']">Este campo é obrigatório.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr class="w-100 mt-2 mb-0 border-dark">
                </div>
            </div>
            <!-- Dados do Banco -->
            <div class="row">
                <div class="form-group mt-3">
                    <div class="col-sm-12 card py-3 px-4">
                        <div class="row">
                            <div>
                                <h6>Dados do Banco </h6>
                                <p class="mb-3"><small class="text-danger">(Selecione um banco para carregar os dados)</small></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12"> <!-- Nome -->
                                <label for="nome">Nome: </label>
                                <input type="text"
                                       id="nome"
                                       class="form-control"
                                       [value]="bancoSelected?.nome"
                                       disabled>
                            </div>
                            <div class="form-group col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12"> <!-- Código Swift -->
                                <label for="codigoSwift">Código Swift: </label>
                                <input type="text"
                                       id="codigoSwift"
                                       class="form-control"
                                       [value]="bancoSelected?.codigoSwift"
                                       disabled>
                            </div>
                            <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12"> <!--Pais -->
                                <label for="pais">País:</label>
                                <input type="text"
                                       id="pais"
                                       class="form-control"
                                       [value]="bancoSelected?.pais_Id"
                                       disabled>
                            </div>
                        </div>
                        <!-- Endereço do Banco -->
                        <div class="row">
                            <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <label for="logradouro">Endereço: </label> <!-- Endereço -->
                                <textarea rows="1"
                                          class="form-control"
                                          id="logradouro"
                                          [value]="bancoSelected?.logradouro"
                                          disabled></textarea>
                            </div>
                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                                <label for="cidade">Cidade: </label> <!-- Cidade -->
                                <input type="text"
                                       class="form-control"
                                       id="cidade"
                                       [value]="bancoSelected?.cidade"
                                       disabled>
                            </div>
                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                                <label for="estado">UF: </label> <!-- UF -->
                                <input type="text"
                                       class="form-control"
                                       id="estado"
                                       [value]="bancoSelected?.estado"
                                       disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dados do Representante Legal -->
            <div class="row">
                <div class="mt-3">
                    <div class="col-sm-12 card py-3 px-4">
                        <div class="row">
                            <div class="d-flex">
                                <div col="col-xl-9 col-lg-9 col-md-8 col-sm-7 col-12">
                                    <h6>Representante Legal </h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xl-8 col-lg-8 col-md-8 col-sm-6 col-12"><!-- Nome -->
                                <label for="nomeRepresentanteLegal">Nome: </label>
                                <input type="text"
                                       class="form-control"
                                       name="nomeRepresentanteLegal"
                                       id="nomeRepresentanteLegal"
                                       #nomeRepresentanteLegal="ngModel"
                                       [(ngModel)]="objeto.nomeRepresentanteLegal"
                                       pattern="\S(.*\S)?"
                                       (change)="objeto.nomeRepresentanteLegal = nomeRepresentanteLegal.value.trim().toUpperCase();">
                                <div *ngIf="nomeRepresentanteLegal.touched && nomeRepresentanteLegal.errors">
                                    <p class="text-danger" *ngIf="nomeRepresentanteLegal.errors['required']">Este campo é obrigatório.</p>
                                </div>
                            </div>
                            <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12"><!-- Código -->
                                <label for="codigoRepresentanteLegal">Código:</label>
                                <input type="text"
                                       class="form-control"
                                       name="codigoRepresentanteLegal"
                                       id="codigoRepresentanteLegal"
                                       #codigoRepresentanteLegal="ngModel"
                                       [(ngModel)]="objeto.codigoRepresentanteLegal"
                                       pattern="\S(.*\S)?"
                                       (change)="objeto.codigoRepresentanteLegal = codigoRepresentanteLegal.value.trim().toUpperCase();">
                                <div *ngIf="codigoRepresentanteLegal.touched && codigoRepresentanteLegal.errors">
                                    <p class="text-danger" *ngIf="codigoRepresentanteLegal.errors['required']">Este campo é obrigatório.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row"> <!-- Assinatura -->
                            <div class="col-12">
                                <label for="assinaturaRepresentanteLegal">Assinatura: </label>
                               <div class="d-flex align-items-center">
                                    <label for="assinaturaRepresentanteLegal" class="input-file-container btn btn-primary" *ngIf="!assinaturaIsUploaded">
                                        <span>Escolher assinatura</span>
                                    <input type="file"
                                            name="assinaturaRepresentanteLegal"
                                            id="assinaturaRepresentanteLegal"
                                            #assinaturaRepresentanteLegal
                                            accept="image/png" 
                                            (input)="fileChange($event)" >
                                    </label>
                                    <span *ngIf="!assinaturaDataUri && !objeto.assinaturaRepresentanteLegal" class="ms-2">Nenhuma assinatura selecionada</span>
                                    <span *ngIf="assinaturaDataUri && assinaturaUploadedFile != undefined" class="ms-2">{{assinaturaUploadedFile.name}}</span>
                               </div>
                                <div *ngIf="assinaturaDataUri">
                                    <img [src]="assinaturaDataUri" [alt]="assinaturaUploadedFile ? assinaturaUploadedFile.name : 'Assinatura' " class="input-file-image">
                                </div>
                                <div class="my-3" *ngIf="assinaturaIsUploaded">
                                    <button class="btn btn-primary me-2" (click)="importarNovamente()">Refazer upload</button>
                                    <button class="btn btn-dark" (click)="assinaturaDesfazerAlteracao()">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center mt-2 mb-1">
            <div *ngIf="erro || form.invalid">
                <p class="text-danger" *ngIf="erro">{{erro}}</p>
                <p *ngIf="form.invalid && !erro" class="text-danger">Preencha todos os campos obrigatórios (*) corretamente para salvar.</p>
            </div>
            <button class="btn btn-primary me-0 ms-auto" [disabled]="form.invalid || loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                <span>Salvar</span>
            </button>
        </div>
    </form>
</ng-template>
<router-outlet></router-outlet>