<ng-template #icon>
    <fa-icon [icon]="faKey"></fa-icon>
</ng-template>
<ng-template #template>
    <div *ngIf="podeResetar">
        <div *ngIf="userLogado?.email == objeto.email">
            <p>Tem certeza que deseja resetar sua senha?</p>
            <p class="text-danger"><small>Você receberá um email com o link de alteração de senha.</small></p>
            <p>Ao resetar sua senha, você será automaticamente deslogado para realizar novo login.</p>
        </div>
        <div *ngIf="userLogado?.email != objeto.email">
            <p>Tem certeza que deseja resetar a senha desse usuário? </p>
            <p class="text-danger"><small>Esse usuário receberá um email com o link de alteração de senha.</small></p>
        </div>
        <p class="text-danger" *ngIf="erro">{{erro}}</p>
        <button class="btn btn-grey ms-auto d-flex mt-2" (click)="send()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
            <span> Resetar</span>
        </button>
    </div>
    <div *ngIf="!podeResetar">
        <p class="text-danger">Você não tem permissão para resetar a senha de uma conta administradora.</p>
    </div>

</ng-template>

<router-outlet></router-outlet>