<div class="mb-2">
    <button type="button" #scrollTipBtn class="btn btn-scrollTip btn-dark" (click)="setVisible()" title="Dica">
        <fa-icon [icon]="faBell"></fa-icon>
    </button>

    <button pButton label="Limpar filtro" class="btn btn-dark ms-2" icon="pi pi-filter-slash me-2" (click)="clear(dt)"></button>
</div>
<div class="content">
    <p-table class="table table-striped"
             [class.mt-2]="list.length == 0"
             #dt
             [columns]="columns"
             [value]="list"
             [rows]="100"
             [rowHover]="true"
             [rowsPerPageOptions]="[10, 25, 50, 100]"
             responsiveLayout="scroll"
             [paginator]="paginator && list.length > 0"
             [showCurrentPageReport]="true"
             currentPageReportTemplate="Exibindo {first} de {totalRecords} resultado(s)"
             [globalFilterFields]="filters"
             [(selection)]="selectedItems"
             [selectionMode]="selectionMode"
             (onRowSelect)="onRowSelect($event)"
             (onRowUnselect)="onRowUnselect($event)"
             (selectionChange)="selectAllChange($event)"
             [filterDelay]="200">
        <ng-template pTemplate="caption">
            <div
                 class="d-flex justify-content-between align-items-end flex-wrap w-100 px-0 py-0 flex-sm-row flex-column-reverse">
                <div class="col-xl-3 col-lg-3 col-md-2 col-sm-2 col-12 p-0 mb-sm-0 mb-2">
                    <p *ngIf="!loading && list.length > 0 && showResultLength">
                        <small> {{ list.length }} resultado(s) </small>
                    </p>
                    <p *ngIf="loading && list.length > 0" class="mb-2">
                        <span class="spinner-border spinner-border-sm me-1"></span>
                    </p>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-10 col-sm-10 col-12 d-flex align-items-center justify-content-end flex-wrap flex-sm-row flex-column-reverse px-0 mb-sm-0">
                 
                    <div class="col d-flex flex-wrap ng-star-inserted px-0 justify-content-end"
                         *ngIf="topActions != undefined">
                        <ng-template [ngTemplateOutlet]="topActions"></ng-template>
                    </div>
                    <div class="p-input-icon-left col-lg-4 col-md-4 col-sm-4 col-12 mb-2" *ngIf=" filterTable">
                        <i class="pi pi-search"></i>
                        <input pInputText
                               type="text"
                               class="form-control "
                               (input)="dt.filterGlobal(filter.value , 'contains')"
                               #filter
                               placeholder="Pesquisar"
                               [disabled]="list.length == 0" />
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr class="grey">
                <th *ngIf="selectionMode == 'multiple' && list.length > 0" style="width: 4rem">
                    <p-checkbox 
                        [(ngModel)]="selectedAll" 
                        [binary]="true" 
                        inputId="binary"
                        (onChange)="selectAllClick(selectedAll)"
                    ></p-checkbox>
                </th>
                <th [pSortableColumn]="col.field" *ngFor="let col of columns; index as i" [class.ps-4]="i == 0">
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="me-3" [class.text-center]="col.maskType == 'options'" [innerHTML]="col.header"></span>
                        <div>
                            <p-sortIcon *ngIf="col.sort != false && sortTable" [field]="col.field"></p-sortIcon>
                            <p-columnFilter #filterEl
                                            *ngIf="col.filterType != 'none'"
                                            [type]="col.filterType"
                                            [field]="col.field"
                                            [display]="col.filterDisplay"
                                            [matchMode]="col.filterMatchMode"
                                            [showOperator]="col.showOperator"
                                            [showMatchModes]="col.showMatchMode"
                                            [showAddButton]="col.showAddButton">
                                <!-- Options -->
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback" *ngIf="col.maskType == 'options' && col.values">
                                    <p-dropdown [ngModel]="value"
                                                [styleClass]="col.showMatchMode ? 'mt-2' : ''"
                                                [options]="col.values"
                                                placeholder="Todos"
                                                optionLabel="output"
                                                optionDisabled="Todos"
                                                [showClear]="true"
                                                (onChange)="filterColOption($event.value, filter);">
                                        <ng-template pTemplate="selectedItem">
                                            <p *ngIf="col.filterValue != undefined">{{col.filterValue.output}}</p>
                                        </ng-template>
                                        <ng-template let-item pTemplate="item">
                                            <span [classList]="'flag ' + item.class">{{item.output}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                                <!-- Texto -->
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback" *ngIf="col.maskType == 0">
                                    <input type="text" pInputText
                                           [classList]="col.showMatchMode ? 'form-control mt-2' : 'form-control '"
                                           #text="ngModel"
                                           ngModel
                                           (change)="filterCol(text.value, filter, filterEl);"
                                           [ngModel]="value" />
                                </ng-template>
                                <!-- CPF -->
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback" *ngIf="col.maskType == 'cpf'">
                                    <input type="text" pInputText
                                           class="w-100"
                                           [classList]="col.showMatchMode ? 'mt-2' : ''"
                                           [mask]="'000.000.000-00'"
                                           [dropSpecialCharacters]="false"
                                           #cpf="ngModel"
                                           ngModel
                                           (change)="filterCol(cpf.value, filter, filterEl);"
                                           [ngModel]="value"
                                           placeholder="000.000.000-00" />
                                </ng-template>
                                <!-- CNPJ -->
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback" *ngIf="col.maskType == 'cnpj'">
                                    <input type="text" pInputText
                                           class="w-100"
                                           [classList]="col.showMatchMode ? 'mt-2' : ''"
                                           [mask]="'00.000.000/0000-00'"
                                           [dropSpecialCharacters]="false"
                                           #cnpj="ngModel"
                                           (change)="filterCol(cnpj.value, filter, filterEl);"
                                           [ngModel]="value"
                                           placeholder="00.000.000/0000-00" />
                                </ng-template>
                                <!-- Data -->
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback" *ngIf="col.filterType == 'date' || col.filterType == 'datetime'">
                                    <p-calendar name="filter"
                                                [styleClass]="col.showMatchMode ? 'mt-2' : ''"
                                                (onSelect)="filterDate($event, filter, filterEl);"
                                                [showIcon]="true"
                                                [ngModel]="value"
                                                dateFormat="dd.mm.yy"></p-calendar>
                                </ng-template>
                                <!-- Número -->
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback" *ngIf="col.filterType == 'numeric'">
                                    <input type="text"
                                           [classList]="col.showMatchMode ? 'form-control mt-2' : 'form-control '"
                                           [ngModel]="value"
                                           (change)="filterNumeric($event, filter, filterEl);"
                                           mask="separator.2"
                                           decimalMarker=","
                                           thousandSeparator=".">
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </div>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
            <tr [class.selected]="item == selected || checked(item)" 
                [class.selectable]="item.canSelect != false && selectable"
                #row
               >
                <td *ngIf="selectionMode == 'multiple' " style="width: 4rem">
                    <p-tableCheckbox [value]="item" #checkbox></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns; index as i" 
                    [pSelectableRow]="item.canSelect != false && selectable ? item : null"
                    [pSelectableRowIndex]="item.canSelect != false && selectable? rowIndex : null"
                    [class.ps-4]="i == 0" 
                    class="td-{{col.maskType}}">
                    <input type="hidden" [value]="getCellValue(item, col)" #value>
                    <div *ngIf="value.value; else NA" [ngSwitch]="col.maskType">
                        <div *ngSwitchCase="maskType.options">
                            <span [classList]="'flag ' + getOptionValue(item, col, 'class')">{{getOptionValue(item, col, 'output')}}</span>
                        </div>
                        <div *ngSwitchCase="maskType.cpf">
                            <p> {{value.value | mask : '000.000.000-00' }} </p>
                        </div>
                        <div *ngSwitchCase="maskType.cnpj">
                            <p> {{value.value | mask : '00.000.000/0000-00' }} </p>
                        </div>
                        <div *ngSwitchCase="maskType.date">
                            <p>  {{ (setDate(value.value)) | date : 'dd/MM/yyyy' }} </p>
                        </div>
                        <div *ngSwitchCase="maskType.dateTime">
                            <p>  {{ (setDate(value.value)) | date : 'dd/MM/yyyy HH:mm' }} </p>
                        </div>
                        <div *ngSwitchCase="maskType.number">
                            <p [class.text-danger]="item[col.field] < 0">
                                <span>{{value.value | currency : 'BRL' : '' : col.decimal}}</span>
                            </p>
                        </div>
                        <div *ngSwitchCase="maskType.mask">
                            <p>
                                <span *ngIf="col.padStart; else maskValue">{{(value.value.padStart(col.padStart.length, col.padStart.string)) | mask : col.mask }}</span>
                                <ng-template #maskValue><span>{{value.value | mask : col.mask }}</span></ng-template>
                            </p>
                        </div>
                        <div *ngSwitchCase="maskType.money">
                            <p [class.text-danger]="value.value < '0'"> {{value.value | currency : 'BRL' : col.moeda : col.decimal}} </p>
                        </div>
                        <div *ngSwitchCase="maskType.percentage">
                            <p [class.text-danger]="value.value < '0'">{{value.value | currency : 'BRL' : '' : col.decimal}}%</p>
                        </div>
                        <div *ngSwitchCase="maskType.imageUrl">
                            <img [src]="value.value" *ngIf="value.value" class="logo" #targetEl (mouseenter)="closeOverlays(); overlayPanel.show($event, targetEl)">
                            <p-overlayPanel #overlayPanel [styleClass]="'table-image-overlay-panel'" [showCloseIcon]="true">
                                <img [src]="value.value" *ngIf="value.value" class="logo">
                            </p-overlayPanel>
                        </div>
                        <div *ngSwitchDefault>
                            <span> {{value.value}} </span>
                        </div>
                    </div>
                </td>
                <td class="td-actions"
                [pSelectableRow]="item.canSelect != false && selectable ? item : null"
                [pSelectableRowIndex]="item.canSelect != false && selectable? rowIndex : null">
                    <div class="d-flex align-items-center">
                        <ng-template #rowActions *ngIf="rowActions" [ngTemplateOutlet]="rowActions"></ng-template>
                        <div class="actions" *ngIf="item.showMenuOption != false && menuTable">
                            <button class="actions__toggle" [class.active]="item == selected" *ngIf="!loading">
                                <span class="icon icon-ellipsis">
                                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                                </span>
                                <span class="icon icon-times">
                                    <fa-icon [icon]="faTimes"></fa-icon>
                                </span>
                            </button>
                            <span class="spinner-border spinner-border-sm me-1" *ngIf="loading"></span>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" *ngIf="tableFooter">
            <ng-template [ngTemplateOutlet]="tableFooter"></ng-template>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="columns.length + 1 " class="py-2 px-3 border-0 border-light">
                    <p *ngIf="loading" class="py-1 px-1">
                        <span class="spinner-border spinner-border-sm me-1"></span>
                        <span>Carregando... </span>
                    </p>
                    <p *ngIf="!loading">
                        <span>Nenhum registro encontrado.</span>
                    </p>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="actions-nav" [ngStyle]="{
        opacity: tableLinks.length > 0 && menuTable ? 1 : 0
    }">
        <div class="actions-nav-inner" *ngIf="selected">
            <a class="actions-nav-link" *ngFor="let item of tableLinks" [routerLink]="item.fullRoute">{{item.label}}</a>
        </div>
    </div>
</div>
<ng-template #NA>
    <p>N/A</p>
</ng-template>
<p-dialog header="Dica"
          [(visible)]="visible"
          [position]="position"
          [draggable]="false"
          [resizable]="false">
    <div>
        <p>Para rolamento horizontal da tabela:</p>
        <div *ngIf="screen == 'xl' || screen == 'lg'">
            <div class=" mt-3">
                <div class="scroll-icon-desktop">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <h5 class="me-2">Shift + </h5>
                        <div class="scroll-icon">
                            <span class="wheel"></span>
                        </div>
                    </div>
                    <ng-template [ngTemplateOutlet]="tableAnimation" ></ng-template>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3" *ngIf="screen == 'md' || screen == 'sm'">
            <div class="swipe">
                <ng-template [ngTemplateOutlet]="tableAnimation" ></ng-template>
                <div class="path"></div>
                <div class="hand-icon"></div>
            </div>
        </div>
    </div>
</p-dialog>

<ng-template #tableAnimation>
    <div class="table-s">
        <table class="table">
            <thead>
                <tr>
                    <th><span></span></th>
                    <th><span></span></th>
                    <th><span></span></th>
                    <th><span></span></th>
                    <th><span></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                </tr>
                <tr>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                </tr>
                <tr>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>