<section class="page">
    <div class="page__header">
        <span class="title-icon">
            <fa-icon [icon]="faCreditCard"></fa-icon>
        </span>
        <div class="me-auto">
            <h3 class="page__header-title">Painel CPF</h3>
        </div>
    </div>
    <div class="page__body">
            <ng-template #topActions>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 mx-md-1 mb-2 px-0">
                    <a class="btn btn-dark d-flex align-items-center align-baseline justify-content-center" [routerLink]="['importar']">
                        <img src="assets/img/icon-excel-white.png" alt="excel.png" class="me-2">
                        <span style="margin-top: -1px; margin-bottom: 1px;"> Importar excel</span>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 mb-2 me-md-2 mx-md-1 px-0">
                    <a class="btn btn-primary d-flex align-items-center align-baseline justify-content-center" [routerLink]="['cadastrar']">
                        <span style="margin-top: -1px; margin-bottom: 1px;"> Cadastrar</span>
                    </a>
                </div>
            </ng-template>
            <app-list-shared
                             [topActions]="topActions"
                             [list]="list"
                             [filterLink]="false"
                             [filterTable]="true"
                             [paginator]="true"
                             [sortTable]="true"
                             [menuTable]="true"
                             [columns]="columns"
                             [tableLinks]="tableLinks"
                             [selectable]="true"></app-list-shared>
    </div>
</section>
<router-outlet></router-outlet>