@font-face {
  font-family: Regular;
  src: url(./assets/fonts/OpenSans/OpenSans-Regular.ttf)
}

@font-face {
  font-family: Bold;
  src: url(./assets/fonts/OpenSans/OpenSans-Bold.ttf)
}

@font-face {
  font-family: Light;
  src: url(./assets/fonts/OpenSans/OpenSans-Light.ttf)
}

:root {
  --primary: #ffc400;
  --neutral: #3b3b47;
  --complementar: #12111f;
  --red: #e81717;
  --green: #1a9d24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .4s font-size 0s;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--dark);
  transition: .5s;
}

*::-webkit-scrollbar-track {
  background-color: rgba(173, 170, 170, 0.9);
}

*:focus {
  outline: none !important;
}

body {
  color: #3f3c3c;
  font-size: 14px;
  transition: font-size 0s;
  overflow-x: hidden;
  background-color: #efefef;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

label:not(form label),
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}


.text-info {
 color: #0043ff!important;
}
@import url('./assets/css/buttons.css');
@import url('./assets/css/form.css');
@import url('./assets/css/modal.css');
@import url('./assets/css/page.css');
@import url('./assets/css/p-general.css');
@import url('./assets/css/p-table.css');
@import url('./assets/css/p-paginator.css');
@import url('./assets/css/p-dropdown.css');
@import url('./assets/css/p-accordion.css');
@import url('./assets/css/p-checkbox.css');
@import url('./assets/css/p-dialog.css');
