<ng-template #icon class="align-items-center">
    <span class="title-icon ">
        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"
             fill="currentColor">
            <path
                  d="M243.4 2.6l-224 96c-14 6-21.8 21-18.7 35.8S16.8 160 32 160v8c0 13.3 10.7 24 24 24H456c13.3 0 24-10.7 24-24v-8c15.2 0 28.3-10.7 31.3-25.6s-4.8-29.9-18.7-35.8l-224-96c-8-3.4-17.2-3.4-25.2 0zM128 224H64V420.3c-.6 .3-1.2 .7-1.8 1.1l-48 32c-11.7 7.8-17 22.4-12.9 35.9S17.9 512 32 512H480c14.1 0 26.5-9.2 30.6-22.7s-1.1-28.1-12.9-35.9l-48-32c-.6-.4-1.2-.7-1.8-1.1V224H384V416H344V224H280V416H232V224H168V416H128V224zM256 64a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
        </svg>
    </span>
</ng-template>
<ng-template #template>
    <form #form="ngForm" (ngSubmit)="send(form)" class="needs-validation">
        <div class="px-2">
            <div class="row">
                <div class="form-group col-xl-8 col-lg-8 col-md-8 col-sm-6 col-12"><!-- Nome -->
                    <label for="nome">Nome: <span class="text-danger">*</span></label> 
                    <input type="text"
                           class="form-control"
                           name="nome"
                           id="nome"
                           #nome="ngModel"
                           [(ngModel)]="objeto.nome"
                           pattern="\S(.*\S)?"
                           (change)="objeto.nome = nome.value.toUpperCase().trim();"
                           required>
                    <div *ngIf="nome.touched && nome.errors">
                        <p class="text-danger" *ngIf="nome.errors['required']">Este campo é obrigatório.</p>
                    </div>
                </div>
                <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12"><!-- Código Swift -->
                    <label for="codigoSwift">Código Swift: <span class="text-danger">*</span></label> 
                    <input type="text"
                           class="form-control"
                           name="codigoSwift"
                           id="codigoSwift"
                           #codigoSwift="ngModel"
                           [(ngModel)]="objeto.codigoSwift"
                           pattern="\S(.*\S)?"
                           (change)="objeto.codigoSwift = codigoSwift.value.trim().toUpperCase();"
                           required>
                    <div *ngIf="codigoSwift.touched && codigoSwift.errors">
                        <p class="text-danger" *ngIf="codigoSwift.errors['required']">Este campo é obrigatório.</p>
                    </div>
                </div>
            </div>
            <div class="row"><!-- Endereço -->
                <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"><!-- Endereço -->
                    <label for="logradouro">Endereço: </label> 
                    <textarea rows="1"
                           class="form-control"
                           name="logradouro"
                           id="logradouro"
                           #logradouro="ngModel"
                           [(ngModel)]="objeto.logradouro"
                           pattern="\S(.*\S)?"
                           (change)="objeto.logradouro = logradouro.value.trim().toUpperCase();">
                    </textarea>
                </div>
                <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-4 col-12"><!-- Cidade -->
                    <label for="cidade">Cidade: </label> 
                    <input type="text"
                           class="form-control"
                           name="cidade"
                           id="cidade"
                           #cidade="ngModel"
                           [(ngModel)]="objeto.cidade"
                           pattern="\S(.*\S)?"
                           (change)="objeto.cidade = cidade.value.trim().toUpperCase();">
                </div>
                <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-4 col-12"><!-- UF -->
                    <label for="estado">UF: </label> 
                    <input type="text"
                           class="form-control"
                           name="estado"
                           id="estado"
                           #estado="ngModel"
                           [(ngModel)]="objeto.estado"
                           pattern="\S(.*\S)?"
                           (change)="objeto.estado = estado.value.trim().toUpperCase();">
                </div>
                <div class="form-group col-xl-5 col-lg-5 col-md-5 col-sm-4 col-12"><!-- País -->
                    <label for="pais_Id">País: <span class="text-danger">*</span></label> 
                    <p-dropdown [styleClass]="'form-control ' + (loadingPaises ? 'form-control-loading' : '')"
                                [options]="paises"
                                #pais_Id="ngModel"
                                [(ngModel)]="objeto.pais_Id"
                                optionLabel="nome"
                                optionValue="id"
                                [placeholder]="'Selecione'"
                                [disabled]="loadingPaises"
                                name="pais_Id"
                                id="pais_Id"
                                [filter]="true"
                                filterBy="nome"
                                [showClear]="true"
                                [required]="true"
                                appendTo="body">
                    </p-dropdown>
                    <div *ngIf="pais_Id.touched && pais_Id.errors">
                        <p class="text-danger" *ngIf="pais_Id.errors['required']">Este campo é obrigatório.</p>
                    </div>
                </div>
            </div>
                 <div class="row">
                <div class="d-flex align-items-center mt-2 mb-1">
                    <div *ngIf="erro || form.invalid" class="">
                        <p class="text-danger" *ngIf="erro">{{erro}}</p>
                        <p *ngIf="form.invalid && !erro" class="text-danger">Preencha todos os campos obrigatórios (*) corretamente para salvar.</p>
                    </div>
                    <button class="btn btn-primary mr-0 ms-auto" [disabled]="form.invalid || loading">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        <span>Salvar</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</ng-template>
