<div (paste)="paste($event)" >
    <ng-template #icon>
        <img src="assets/img/icon-excel.png">
    </ng-template>
    <ng-template #template>
        <form #form="ngForm" (ngSubmit)="send()" class="needs-validation">
            <label for="file" class="input-file-container">
                <p class="icon">
                    <i class="pi pi-upload"></i>
                </p>
                <h3>Clique e arraste para selecionar arquivo</h3>
                <p>ou <label for="file" class="link">clique aqui</label> para abrir explorador de arquivos</p>
                <p><small>Você também pode copiar e colar as linhas aqui para importar os dados</small></p>
                <input type="file"
                       hidden
                       name="file"
                       id="file"
                       #file="ngModel"
                       [ngModel]
                       multiple
                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                       (change)="readExcel1($event)">
            </label>
     
            <div class="table-responsive content">
                <p-table 
                    [value]="list"
                    styleClass="table table-stripped p-datatable-striped"
                    [globalFilterFields]="filters"
                    [filterDelay]="100">
                    <ng-template pTemplate="header">
                        <tr class="grey" *ngIf="list.length > 0">
                            <th>#</th>
                            <th> <!-- CPF -->
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="me-auto" class="me-auto">CPF</span>
                                    <p-sortIcon [field]="'cpf'"></p-sortIcon>
                                    <p-columnFilter [type]="'text'" [field]="'cpf'" [display]="'menu'" [matchMode]="'contains'" [showMatchModes]="false" [showAddButton]="false"></p-columnFilter>
                                </div>
                            </th>
                            <th> <!-- Nome -->
                                <span class="me-auto">Nome</span>
                                <p-sortIcon [field]="'nome'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'nome'" [display]="'menu'" [matchMode]="'contains'" [showMatchModes]="false" [showAddButton]="false"></p-columnFilter>
        
                            </th>
                            <th> <!-- Data de Nascimento -->
                                <span class="me-auto">Data de Nascimento</span>
                                <p-sortIcon [field]="'dataNascimento'"></p-sortIcon>
                                <p-columnFilter #dataNascimentoFilter [type]="'date'" [field]="'dataNascimento'" [display]="'menu'" [matchMode]="'dateIs'" [showMatchModes]="true" [showAddButton]="true" [showOperator]="false">
                                    <ng-template pTemplate="filter" let-filter="filterCallback">
                                        <p-calendar [(ngModel)]="currentDateFilter.dataNascimento" (onClear)="currentDateFilter.dataNascimento = undefined" inputId="dataNascimento" (onBlur)="primeNgDataFilter(currentDateFilter.dataNascimento!, filter, dataNascimentoFilter)" (onSelect)="primeNgDataFilter(currentDateFilter.dataNascimento!, filter, dataNascimentoFilter);" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <th> <!-- Situação -->
                                <span class="me-auto">Situação</span>
                                <p-sortIcon [field]="'situacaoCPF'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'situacaoCPF'" [display]="'menu'" [matchMode]="'contains'" [showMatchModes]="false" [showAddButton]="false"></p-columnFilter>
        
                            </th>
                            <th> <!-- Data Inscrição -->
                                <span class="me-auto">Data Inscrição</span>
                                <p-sortIcon [field]="'dataInscricao'"></p-sortIcon>
                                <p-columnFilter #dataInscricaoFilter [type]="'date'" [field]="'dataInscricao'" [display]="'menu'" [matchMode]="'dateIs'" [showMatchModes]="true" [showAddButton]="true" [showOperator]="false">
                                    <ng-template pTemplate="filter" let-filter="filterCallback">
                                    <p-calendar [(ngModel)]="currentDateFilter.dataInscricao" (onClear)="currentDateFilter.dataInscricao = undefined" inputId="dataInscricao" (onBlur)="primeNgDataFilter(currentDateFilter.dataInscricao!, filter, dataInscricaoFilter)" (onSelect)="primeNgDataFilter(currentDateFilter.dataInscricao!, filter, dataInscricaoFilter);" [showIcon]="true" dateFormat="dd/mm/yy">
                                            <ng-template pTemplate="header">Header</ng-template>
                                            <ng-template pTemplate="footer">Footer</ng-template>
                                        </p-calendar>
                                    </ng-template>
                                </p-columnFilter>
        
                            </th>
                            <th> <!-- Dígito -->
                                <span class="me-auto">Dígito</span>
                                <p-sortIcon [field]="'digito'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'digito'" [display]="'menu'" [matchMode]="'contains'" [showMatchModes]="false" [showAddButton]="false"></p-columnFilter>
        
                            </th>
                            <th> <!-- Controle -->
                                <span class="me-auto">Controle</span>
                                <p-sortIcon [field]="'excel_Controle'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'excel_Controle'" [display]="'menu'" [matchMode]="'contains'" [showMatchModes]="false" [showAddButton]="false"></p-columnFilter>
        
                            </th>
                            <th> <!-- Ano Óbito -->
                                <span class="me-auto">Ano Óbito</span>
                                <p-sortIcon [field]="'anoObito'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'anoObito'" [display]="'menu'" [matchMode]="'contains'" [showMatchModes]="false" [showAddButton]="false"></p-columnFilter>
        
                            </th>
                            <th> <!-- Status -->
                                <span class="me-auto">Status</span>
                                <p-sortIcon [field]="'excel_Status'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'excel_Status'" [display]="'menu'" [matchMode]="'contains'" [showMatchModes]="false" [showAddButton]="false"></p-columnFilter>
        
                            </th>
                            <th> <!-- Data Cap. -->
                                <span class="me-auto">Data Cap.</span>
                                <p-sortIcon [field]="'excel_Data_Cap'"></p-sortIcon>
                                <p-columnFilter #excel_Data_CapFilter [type]="'date'" [field]="'excel_Data_Cap'" [display]="'menu'" [matchMode]="'dateIs'" [showMatchModes]="true" [showAddButton]="true" [showOperator]="false">
                                    <ng-template pTemplate="filter" let-filter="filterCallback">
                                        <p-calendar [(ngModel)]="currentDateFilter.excel_Data_Cap" (onClear)="currentDateFilter.excel_Data_Cap = undefined" inputId="excel_Data_Cap" (onBlur)="primeNgDataFilter(currentDateFilter.excel_Data_Cap!, filter, excel_Data_CapFilter)" (onSelect)="primeNgDataFilter(currentDateFilter.excel_Data_Cap!, filter, excel_Data_CapFilter);" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                                    </ng-template>
                                </p-columnFilter>
        
                            </th>
                            <th> <!-- Hora Cap. -->
                                <span class="me-auto">Hora Cap.</span>
                                <p-sortIcon [field]="'excel_Hora_Cap'"></p-sortIcon>
                                <p-columnFilter [type]="'time'" [field]="'excel_Hora_Cap'" [display]="'menu'" [matchMode]="'contains'" [showMatchModes]="false" [showAddButton]="false"></p-columnFilter>
        
                            </th>
                            <th> <!-- IdNum -->
                                <span class="me-auto">IdNum</span>
                                <p-sortIcon [field]="'excel_IdNum'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'excel_IdNum'" [display]="'menu'" [matchMode]="'contains'" [showMatchModes]="false" [showAddButton]="false"></p-columnFilter>
        
                            </th>
                            <th> <!-- Tipo Erro -->
                                <span class="me-auto">Tipo Erro</span>
                                <p-sortIcon [field]="'excel_Erro'"></p-sortIcon>
                                <p-columnFilter [type]="'text'" [field]="'excel_Erro'" [display]="'menu'" [matchMode]="'contains'" [showMatchModes]="false" [showAddButton]="false"></p-columnFilter>
        
                            </th>
                            <th class="td-actions"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                        <tr [title]="item.detalhes ? item.detalhes : ''" >
                            <td>{{item.id}}</td>
                            <td>
                                <div *ngIf="requestResponse.length > 0">
                                    <span *ngIf="!item.sucesso">
                                        <span  class="me-2 flag flag-text flag-danger" title="CPF inválido">
                                            <fa-icon [icon]="faCircleXmark"></fa-icon>
                                        </span>
                                        <span>{{item.detalhes}}</span>

                                    </span>
                                    <span *ngIf="item.sucesso" class="me-2 flag flag-text flag-green" title="CPF válido">
                                        <fa-icon [icon]="faCircleCheck"></fa-icon>
                                    </span> 
                                </div>
                                <!-- <span *ngIf="item.isDuplicate" class="me-2 flag flag-text flag-warning" title="CPF duplicado">
                                    <fa-icon [icon]="faTriangleExclamation"></fa-icon>
                                </span>-->
                                {{item.cpf | mask : '000.000.000-00'}}
                            </td>
                            <td>{{item.nome}}</td>
                            <td>{{item.dataNascimento  | date : 'dd/MM/yyyy' }}</td>
                            <td>{{item.situacaoCPF}}</td>
                            <td>{{item.dataInscricao  | date : 'dd/MM/yyyy' }}</td>
                            <td>{{item.digito}}</td>
                            <td>{{item.excel_Controle}}</td>
                            <td>{{item.anoObito}}</td>
                            <td>{{item.excel_Status}}</td>
                            <td>{{item.excel_Data_Cap | date : 'dd/MM/yyyy' }}</td>
                            <td>{{item.excel_Hora_Cap  | date : 'HH:mm' }}</td>
                            <td>{{item.excel_IdNum}}</td>
                            <td>{{item.excel_Erro}}</td>
                            <td class="td-actions">
                                <button type="button" (click)="removeItem(item)" class="btn btn-small btn-dark">excluir</button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="d-flex align-items-start flex-wrap p-0 mt-1 px-2">
                
                    <p class="text-info">Clique aqui para saber como deve ser o arquivo XLSX</p>
                <div *ngIf="erro || form.invalid" class="m-0">
                    <p class="text-danger" *ngIf="erro">{{erro}}</p>
                    <p *ngIf="form.invalid && !erro" class="text-danger">Preencha todos os campos obrigatórios (*) corretamente para salvar</p>
                </div>
                <button class="btn btn-primary mr-0 ml-auto" [disabled]="form.invalid || loading">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    <span>Salvar</span>
                </button>
            </div>
        </form>
    </ng-template>
</div>