<p-table class="table table-striped"
         [class.mt-2]="saldos.length == 0"
         #dt
         [columns]="columns"
         [value]="saldos"
         [rowHover]="true"
         responsiveLayout="scroll"
         [paginator]="false"
         [showCurrentPageReport]="true"
         currentPageReportTemplate="Exibindo {first} de {totalRecords} resultado(s)"
         [globalFilterFields]="filters"
         [filterDelay]="100">
    <ng-template pTemplate="caption">
        <div class="d-flex flex-column-reverse flex-sm-row flex-wrap px-0 py-0 w-100">
            <div class="align-items-center col-12 col-lg-9 col-md-10 col-sm-9 col-xl-6 d-flex flex-column-reverse flex-sm-row flex-wrap justify-content-end mb-sm-0 ms-auto px-0">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-12 mb-2 me-md-2 mx-0 mx-sm-1 px-0">
                    <a class="btn btn-primary d-flex align-items-center align-baseline justify-content-center" [routerLink]="['saldo/cadastrar']"> Cadastrar Saldo </a>
                </div>
                <div class="p-input-icon-left col-xl-6 col-lg-4 col-md-5 col-sm-7 col-12 mb-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="search" class="form-control "
                           (input)="dt.filterGlobal(filter.value , 'contains')"
                           (enter)="dt.filterGlobal(filter.value , 'contains')"
                           #filter
                           placeholder="Pesquisar" />
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr class="grey" *ngIf="saldos.length > 0">
            <th [pSortableColumn]="col.field" *ngFor="let col of columns">
                <div class="d-flex align-items-baseline justify-content-between">
                    <span class="me-auto pe-4" [innerHTML]="col.header"></span>
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                    <p-columnFilter #filterEl
                                    [type]="col.filterType"
                                    [field]="col.field"
                                    [display]="col.filterDisplay"
                                    [matchMode]="col.filterMatchMode"
                                    [showOperator]="col.showOperator"
                                    [showMatchModes]="col.filterShowMatchMode"
                                    [showAddButton]="col.filterShowAddButton">
                        <ng-template *ngIf="col.filterType == 'date' || col.filterType == 'datetime'" pTemplate="filter" let-filter="filterCallback">
                            <p-calendar name="filter"
                                        [styleClass]="col.showMatchMode ? 'mt-2' : ''"
                                        (onSelect)="filterDate($event, filter, filterEl);"
                                        [showIcon]="true"
                                        [(ngModel)]="col.filterValue"
                                        dateFormat="dd.mm.yy"></p-calendar>
                        </ng-template>
                        <ng-template *ngIf="col.filterType == 'numeric'" pTemplate="filter" let-filter="filterCallback">
                            <input type="text"
                                   [classList]="col.showMatchMode ? 'form-control mt-2' : 'form-control '"
                                   [(ngModel)]="col.filterValue"
                                   (change)="filterNumeric($event, filter, filterEl);"
                                   mask="separator.2"
                                   decimalMarker=","
                                   thousandSeparator=".">
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th class="td-actions"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-columns="columns" let-rowIndex="rowIndex">
        <tr>
            <td *ngFor="let col of columns; index as i" [class.ps-4]="i == 0" [ngSwitch]="col.maskType">
                <!-- <p *ngIf="i == 0">{{item | json}}</p> -->
                <div *ngSwitchCase="maskType.number">
                    <p [class.text-danger]="item[col.field] < 0"> {{item[col.field] | currency : 'BRL' : '' : col.decimal}} </p>
                </div>
                <div *ngSwitchCase="maskType.money">
                    <p [class.text-danger]="item[col.field] < 0"> {{item[col.field] | currency : 'BRL' : col.moeda : col.decimal}} </p>
                </div>
                <div *ngSwitchCase="maskType.percentage">
                    <p [class.text-danger]="item[col.field] < 0"> {{item[col.field] | currency : 'BRL' : '' : col.decimal}}% </p>
                </div>
                <div *ngSwitchDefault>
                    <p> {{item[col.field]}} </p>
                </div>
            </td>
            <td class="td-actions">
                <a class="btn btn-dark" *ngIf="podeExcluir && lastIdDelete == item.id" [routerLink]="['saldo/excluir', item.idEncrypted]">Excluir</a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td></td>
            <td>
                <strong>Total: </strong> {{limiteConcedido | currency : 'BRL' : '' : '1.2' }}
            </td>
            <td class="td-actions"></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7" class="py-2 px-3 border-0 border-light">
                <p *ngIf="loading" class="py-1 px-1">
                    <span class="spinner-border spinner-border-sm me-1"></span>
                    <span>Carregando... </span>
                </p>
                <p *ngIf="!loading">
                    <span>Nenhum registro encontrado.</span>
                </p>
            </td>
        </tr>
    </ng-template>
</p-table>