
<ng-template #icon>
    <fa-icon [icon]="faUsers"></fa-icon>
</ng-template>

<ng-template #template>
    <form #form="ngForm" (ngSubmit)="send(form)">
        <div class="row form-row">
            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <label for="name">Nome: <span class="text-danger">*</span></label>
                <input type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    #name="ngModel"
                    [(ngModel)]="objeto.name"
                    required
                    pattern="\S(.*\S)?"
                    (change)="objeto.name = name.value.trim(); ">
                <div *ngIf="name.touched && name.errors">
                    <p class="text-danger" *ngIf="name.errors['required']">Este campo é obrigatório.</p>
                    <p class="text-danger" *ngIf="name.errors['pattern']">
                        <span *ngIf="name.errors['pattern']['requiredPattern'] == '^\\S(.*\\S)?$'">Remova os espaços antes e depois do texto.</span>
                    </p>
                </div>
            </div>
            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <label for="telefoneCelular">Telefone/Celular: <span class="text-danger">*</span></label>
                <input type="text"
                    class="form-control"
                    name="telefoneCelular"
                    id="telefoneCelular"
                    #telefoneCelular="ngModel"
                    [(ngModel)]="objeto.telefoneCelular"
                    mask="(00) 0000-0000||(00) 0.0000-0000"
                    pattern="^\(?[1-9]{2}\)? ?(?:[0-9]|9[0-9])[0-9]{3}\-?[0-9]{4}$"
                    placeholder="(11) x.0000-0000"
                    required>
                <div *ngIf="telefoneCelular.touched && telefoneCelular.errors">
                    <p class="text-danger" *ngIf="telefoneCelular.errors['required']">Este campo é obrigatório.</p>
                    <p class="text-danger" *ngIf="telefoneCelular.errors['mask']">Telefone/celular inválido</p>
                </div>
            </div>
            <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <label for="perfilAcesso_Id">Perfil: <span class="text-danger">*</span></label>
                <select
                    class="form-control"
                    [class.form-control-loading]="loadingPerfil"
                    name="perfilAcesso_Id"
                    id="perfilAcesso_Id"
                    #perfilAcesso_Id="ngModel"
                    [(ngModel)]="objeto.perfilAcesso_Id"
                    required>
                    <option [ngValue]="undefined">Selecione</option>
                    <option [ngValue]="item.id" *ngFor="let item of perfil">{{item.perfil}}</option>
                    </select>
                <div *ngIf="perfilAcesso_Id.touched && perfilAcesso_Id.errors">
                    <p class="text-danger" *ngIf="perfilAcesso_Id.errors['required']">Este campo é obrigatório.</p>
                </div>
            </div>
            <div class="form-group col-xl-12 col-lg-12 col-md-6 col-sm-6 col-12 email-container">
                <label for="email">E-mail: <span class="text-danger">*</span></label>
                <input type="email"
                    [email]="true"
                    class="form-control"
                    name="email"
                    id="email"
                    #email="ngModel"
                    placeholder="example@hotmail.com"
                    [(ngModel)]="objeto.email"
                    [readonly]="isEditPage"
                    [pattern]="emailPattern"
                    required>
                <div *ngIf="email.touched && email.errors">
                    <p class="text-danger" *ngIf="email.errors['required']">Este campo é obrigatório.</p>
                    <p class="text-danger" *ngIf="email.errors['email']">E-mail inválido</p>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div *ngIf="erro || form.invalid" class="m-0">
                <p class="text-danger" *ngIf="erro">{{erro}}</p>
                <p *ngIf="form.invalid && !erro" class="text-danger">Preencha todos os campos obrigatórios (*) corretamente para salvar.</p>
            </div>
            <button class="btn btn-primary mr-0 ml-auto" [disabled]="form.invalid || loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Salvar
            </button>
        </div>
    </form>
</ng-template>
